:host ::ng-deep nz-form-item {
  margin-bottom: 7.5px;

  > nz-form-label {
    padding-bottom: 5px;
  }
}

nz-switch,
nz-input-number,
nz-date-picker,
nz-range-picker,
nz-time-picker {
  width: 100%;
}
