<nz-spin *ngIf="form" [nzTip]="spinTip" [nzSpinning]="spinning" [nzSize]="spinSize">
  <ng-container *ngTemplateOutlet="formTemplate; context: { form, schemas }"></ng-container>
</nz-spin>

<!-- label 模板 -->
<!-- @param schema 控件的图示 -->
<ng-template #labelTemplate let-schema="schema">
  <nz-form-label
    [nzSpan]="schema.label.span"
    [nzTooltipTitle]="schema.label.tooltip?.title ?? schema.label.tooltip"
    [nzTooltipIcon]="schema.label.tooltip?.icon"
    [nzFor]="schema.id"
    [nzRequired]="schema.required">
    {{ schema.label.value ?? schema.label }}
  </nz-form-label>
</ng-template>

<!-- 组件模板 -->
<!-- 根据 schema.type 来输出不同的控件 -->
<!-- @param control FormControl -->
<!-- @param schema 控件的图示 -->
<ng-template #componentTemplate let-control="control" let-schema="schema">
  <ng-container [ngSwitch]="schema.type">
    <ng-container *ngSwitchCase="'input'">
      <input
        #host
        nz-input
        [attr.id]="schema.id"
        [attr.minlength]="schema.length ?? schema.length?.min"
        [attr.maxlength]="schema.length ?? schema.length?.max"
        [type]="schema.subtype ?? 'text'"
        [fluentPropertyBinder]="{ host, schema }"
        [fluentEventBinder]="{ host, schema, control }"
        [formControl]="control"
        [placeholder]="schema.placeholder ?? ''" />
    </ng-container>

    <ng-container *ngSwitchCase="'textarea'">
      <textarea
        #host
        nz-input
        [attr.id]="schema.id"
        [attr.minlength]="schema.length ?? schema.length?.min"
        [attr.maxlength]="schema.length ?? schema.length?.max"
        [fluentPropertyBinder]="{ host, schema }"
        [fluentEventBinder]="{ host, schema, control }"
        [formControl]="control"
        [placeholder]="schema.placeholder ?? ''"
        [rows]="schema.rows"
        [nzAutosize]="schema.autosize ?? {}"></textarea>
    </ng-container>

    <ng-container *ngSwitchCase="'number'">
      <nz-input-number
        #host
        [fluentPropertyBinder]="{ host, schema }"
        [fluentEventBinder]="{ host, schema, control }"
        [formControl]="control"
        [nzId]="schema.id"
        [nzPlaceHolder]="schema.placeholder ?? ''"
        [nzMin]="schema.min ?? -infinity"
        [nzMax]="schema.max ?? infinity"
        [nzPrecision]="schema.precision ?? ''"
        [nzPrecisionMode]="schema.precisionMode"
        [nzStep]="schema.step ?? 1">
      </nz-input-number>
    </ng-container>

    <ng-container *ngSwitchCase="'date'">
      <nz-date-picker
        #host
        [fluentPropertyBinder]="{ host, schema }"
        [fluentEventBinder]="{ host, schema, control }"
        [formControl]="control"
        [nzId]="schema.id"
        [nzPlaceHolder]="schema.placeholder"
        [nzMode]="schema.mode"
        [nzAllowClear]="schema.clear"
        [nzShowTime]="schema.showTime"
        [nzFormat]="schema.format"
        [nzInline]="schema.inline"></nz-date-picker>
    </ng-container>

    <ng-container *ngSwitchCase="'range'">
      <nz-range-picker
        #host
        [fluentPropertyBinder]="{ host, schema }"
        [fluentEventBinder]="{ host, schema, control }"
        [formControl]="control"
        [nzId]="schema.id"
        [nzPlaceHolder]="schema.placeholder"
        [nzMode]="schema.mode"
        [nzAllowClear]="schema.clear"
        [nzShowTime]="schema.showTime"
        [nzFormat]="schema.format"
        [nzInline]="schema.inline"></nz-range-picker>
    </ng-container>

    <ng-container *ngSwitchCase="'time'">
      <nz-time-picker
        #host
        [fluentPropertyBinder]="{ host, schema }"
        [fluentEventBinder]="{ host, schema, control }"
        [formControl]="control"
        [nzId]="schema.id"
        [nzPlaceHolder]="schema.placeholder"
        [nzAllowEmpty]="schema.clear"
        [nzFormat]="schema.format ?? 'HH:mm:ss'"
        [nzHourStep]="schema.step?.hour"
        [nzMinuteStep]="schema.step?.minute"
        [nzSecondStep]="schema.step?.second">
      </nz-time-picker>
    </ng-container>

    <ng-container *ngSwitchCase="'switch'">
      <nz-switch
        #host
        [fluentPropertyBinder]="{ host, schema }"
        [fluentEventBinder]="{ host, schema, control }"
        [formControl]="control"
        [nzCheckedChildren]="schema.placeholder?.[0]"
        [nzUnCheckedChildren]="schema.placeholder?.[1]">
      </nz-switch>
    </ng-container>

    <ng-container *ngSwitchCase="'select'">
      <nz-select
        #host
        [fluentPropertyBinder]="{ host, schema }"
        [fluentEventBinder]="{ host, schema, control }"
        [formControl]="control"
        [nzId]="schema.id"
        [nzPlaceHolder]="schema.placeholder"
        [nzAllowClear]="schema.clear"
        [nzMode]="schema.mode ?? 'default'"
        [nzMaxMultipleCount]="schema.limit ?? infinity"
        [nzShowSearch]="schema.search">
        <nz-option
          *ngFor="let option of schema.options"
          [nzValue]="option[schema.config?.valueProperty ?? 'value']"
          [nzLabel]="option[schema.config?.labelProperty ?? 'label']"
          [nzDisabled]="option[schema.config?.disabledProperty ?? 'disabled']"></nz-option>
      </nz-select>
    </ng-container>

    <ng-container *ngSwitchCase="'cascader'">
      <nz-cascader
        #host
        [fluentPropertyBinder]="{ host, schema }"
        [fluentEventBinder]="{ host, schema, control }"
        [formControl]="control"
        [nzPlaceHolder]="schema.placeholder"
        [nzAllowClear]="schema.clear"
        [nzExpandTrigger]="schema.trigger"
        [nzShowSearch]="schema.search"
        [nzOptions]="schema.options"
        [nzValueProperty]="schema.config?.valueProperty ?? 'value'"
        [nzLabelProperty]="schema.config?.labelProperty ?? 'label'">
      </nz-cascader>
    </ng-container>

    <ng-container *ngSwitchCase="'slider'">
      <nz-slider
        #host
        [fluentPropertyBinder]="{ host, schema }"
        [fluentEventBinder]="{ host, schema, control }"
        [formControl]="control"
        [nzIncluded]="schema.included ?? true"
        [nzMax]="schema.max ?? 100"
        [nzMin]="schema.min"
        [nzRange]="schema.range"
        [nzStep]="schema.step ?? 1">
      </nz-slider>
    </ng-container>

    <ng-container *ngSwitchCase="'radio'">
      <nz-radio-group
        #host
        [fluentPropertyBinder]="{ host, schema }"
        [fluentEventBinder]="{ host, schema, control }"
        [formControl]="control"
        [nzButtonStyle]="schema.style">
        <ng-container *ngFor="let option of schema.options">
          <label *ngIf="!schema.style" nz-radio [nzValue]="option[schema.config?.valueProperty ?? 'value']">
            {{ option[schema.config?.labelProperty ?? 'label'] }}
          </label>
          <label *ngIf="schema.style" nz-radio-button [nzValue]="option[schema.config?.valueProperty ?? 'value']">
            {{ option[schema.config?.labelProperty ?? 'label'] }}
          </label>
        </ng-container>
      </nz-radio-group>
    </ng-container>

    <ng-container *ngSwitchCase="'checkbox'">
      <label
        #host
        nz-checkbox
        [fluentPropertyBinder]="{ host, schema }"
        [fluentEventBinder]="{ host, schema, control }"
        [formControl]="control"
        [nzId]="schema.id">{{ schema.content }}</label>
    </ng-container>

    <ng-container *ngSwitchCase="'checkbox-group'">
      <nz-checkbox-group
        #host
        [fluentPropertyBinder]="{ host, schema }"
        [fluentEventBinder]="{ host, schema, control }"
        [formControl]="control">
      </nz-checkbox-group>
    </ng-container>

    <ng-container *ngSwitchCase="'rate'">
      <nz-rate
        #host
        [fluentPropertyBinder]="{ host, schema }"
        [fluentEventBinder]="{ host, schema, control }"
        [formControl]="control"
        [nzAllowClear]="schema.clear ?? true"
        [nzAllowHalf]="schema.half"
        [nzCharacter]="schema.character"
        [nzCount]="schema.count ?? 5"
        [nzTooltips]="schema.tooltips ?? []"></nz-rate>
    </ng-container>

    <ng-container *ngSwitchCase="'button'">
      <button
        #host
        nz-button
        [fluentPropertyBinder]="{ host, schema }"
        [fluentEventBinder]="{ host, schema }"
        [disabled]="schema.disabled"
        [nzType]="schema.subtype"
        [nzGhost]="schema.ghost"
        [nzLoading]="schema.loading"
        [nzShape]="schema.shape"
        [nzSize]="schema.size"
        [nzBlock]="schema.block"
        [nzDanger]="schema.danger">
        <i
          *ngIf="schema.icon"
          nz-icon
          [nzType]="schema.icon.type ?? schema.icon"
          [nzTheme]="schema.icon.theme"
          [nzSpin]="schema.icon.spin"
          [nzRotate]="schema.icon.rotate"></i>
        <ng-container *nzStringTemplateOutlet="schema.content">{{ schema.content }}</ng-container>
      </button>
    </ng-container>
  </ng-container>
</ng-template>

<!-- 可组合的组件模板 -->
<!-- 根据 schema.type 来输出不同的控件 -->
<!-- @param control FormControl -->
<!-- @param schema 组件的图示 -->
<ng-template #composableComponentTemplate let-control="control" let-schema="schema">
  <ng-container *ngIf="!schema.hidden" [ngSwitch]="schema.type">
    <ng-container *ngSwitchCase="'input'">
      <input
        #host
        nz-col
        nz-input
        [attr.id]="schema.id"
        [attr.minlength]="schema.length ?? schema.length?.min"
        [attr.maxlength]="schema.length ?? schema.length?.max"
        [nzSpan]="schema.span ?? null"
        [nzOffset]="schema.offset"
        [nzFlex]="schema.flex"
        [type]="schema.subtype ?? 'text'"
        [fluentPropertyBinder]="{ host, schema }"
        [fluentEventBinder]="{ host, schema, control }"
        [formControl]="control"
        [placeholder]="schema.placeholder ?? ''" />
    </ng-container>

    <ng-container *ngSwitchCase="'textarea'">
      <textarea
        #host
        nz-col
        nz-input
        [attr.id]="schema.id"
        [attr.minlength]="schema.length ?? schema.length?.min"
        [attr.maxlength]="schema.length ?? schema.length?.max"
        [nzSpan]="schema.span ?? null"
        [nzOffset]="schema.offset"
        [nzFlex]="schema.flex"
        [fluentPropertyBinder]="{ host, schema }"
        [fluentEventBinder]="{ host, schema, control }"
        [formControl]="control"
        [placeholder]="schema.placeholder ?? ''"
        [rows]="schema.rows"
        [nzAutosize]="schema.autosize ?? {}"></textarea>
    </ng-container>

    <ng-container *ngSwitchCase="'number'">
      <nz-input-number
        #host
        nz-col
        [nzId]="schema.id"
        [nzSpan]="schema.span ?? null"
        [nzOffset]="schema.offset"
        [nzFlex]="schema.flex"
        [fluentPropertyBinder]="{ host, schema }"
        [fluentEventBinder]="{ host, schema, control }"
        [formControl]="control"
        [nzPlaceHolder]="schema.placeholder ?? ''"
        [nzMin]="schema.min ?? -infinity"
        [nzMax]="schema.max ?? infinity"
        [nzPrecision]="schema.precision ?? ''"
        [nzPrecisionMode]="schema.precisionMode"
        [nzStep]="schema.step ?? 1">
      </nz-input-number>
    </ng-container>

    <ng-container *ngSwitchCase="'date'">
      <nz-date-picker
        #host
        nz-col
        [nzId]="schema.id"
        [nzSpan]="schema.span ?? null"
        [nzOffset]="schema.offset"
        [nzFlex]="schema.flex"
        [fluentPropertyBinder]="{ host, schema }"
        [fluentEventBinder]="{ host, schema, control }"
        [formControl]="control"
        [nzPlaceHolder]="schema.placeholder"
        [nzMode]="schema.mode"
        [nzAllowClear]="schema.clear"
        [nzShowTime]="schema.showTime"
        [nzFormat]="schema.format"
        [nzInline]="schema.inline"></nz-date-picker>
    </ng-container>

    <ng-container *ngSwitchCase="'range'">
      <nz-range-picker
        #host
        nz-col
        [nzId]="schema.id"
        [nzSpan]="schema.span ?? null"
        [nzOffset]="schema.offset"
        [nzFlex]="schema.flex"
        [fluentPropertyBinder]="{ host, schema }"
        [fluentEventBinder]="{ host, schema, control }"
        [formControl]="control"
        [nzPlaceHolder]="schema.placeholder"
        [nzMode]="schema.mode"
        [nzAllowClear]="schema.clear"
        [nzShowTime]="schema.showTime"
        [nzFormat]="schema.format"
        [nzInline]="schema.inline"></nz-range-picker>
    </ng-container>

    <ng-container *ngSwitchCase="'time'">
      <nz-time-picker
        #host
        nz-col
        [nzId]="schema.id"
        [nzSpan]="schema.span ?? null"
        [nzOffset]="schema.offset"
        [nzFlex]="schema.flex"
        [fluentPropertyBinder]="{ host, schema }"
        [fluentEventBinder]="{ host, schema, control }"
        [formControl]="control"
        [nzPlaceHolder]="schema.placeholder"
        [nzAllowEmpty]="schema.clear"
        [nzFormat]="schema.format ?? 'HH:mm:ss'"
        [nzHourStep]="schema.step?.hour"
        [nzMinuteStep]="schema.step?.minute"
        [nzSecondStep]="schema.step?.second">
      </nz-time-picker>
    </ng-container>

    <ng-container *ngSwitchCase="'select'">
      <nz-select
        #host
        nz-col
        [nzId]="schema.id"
        [nzSpan]="schema.span ?? null"
        [nzOffset]="schema.offset"
        [nzFlex]="schema.flex"
        [fluentPropertyBinder]="{ host, schema }"
        [fluentEventBinder]="{ host, schema, control }"
        [formControl]="control"
        [nzPlaceHolder]="schema.placeholder"
        [nzAllowClear]="schema.clear"
        [nzMode]="schema.mode ?? 'default'"
        [nzMaxMultipleCount]="schema.limit ?? infinity"
        [nzShowSearch]="schema.search">
        <nz-option
          *ngFor="let option of schema.options"
          [nzValue]="option[schema.config?.valueProperty ?? 'value']"
          [nzLabel]="option[schema.config?.labelProperty ?? 'label']"
          [nzDisabled]="option[schema.config?.disabledProperty ?? 'disabled']"></nz-option>
      </nz-select>
    </ng-container>

    <ng-container *ngSwitchCase="'cascader'">
      <nz-cascader
        #host
        nz-col
        [nzSpan]="schema.span ?? null"
        [nzOffset]="schema.offset"
        [nzFlex]="schema.flex"
        [fluentPropertyBinder]="{ host, schema }"
        [fluentEventBinder]="{ host, schema, control }"
        [formControl]="control"
        [nzPlaceHolder]="schema.placeholder"
        [nzAllowClear]="schema.clear"
        [nzExpandTrigger]="schema.trigger"
        [nzShowSearch]="schema.search"
        [nzOptions]="schema.options"
        [nzValueProperty]="schema.config?.valueProperty ?? 'value'"
        [nzLabelProperty]="schema.config?.labelProperty ?? 'label'">
      </nz-cascader>
    </ng-container>

    <ng-container *ngSwitchCase="'button'">
      <button
        #host
        nz-col
        nz-button
        [nzSpan]="schema.span ?? null"
        [nzOffset]="schema.offset"
        [nzFlex]="schema.flex"
        [fluentPropertyBinder]="{ host, schema }"
        [fluentEventBinder]="{ host, schema }"
        [disabled]="schema.disabled"
        [nzType]="schema.subtype"
        [nzGhost]="schema.ghost"
        [nzLoading]="schema.loading"
        [nzShape]="schema.shape"
        [nzSize]="schema.size"
        [nzBlock]="schema.block"
        [nzDanger]="schema.danger">
        <i
          *ngIf="schema.icon"
          nz-icon
          [nzType]="schema.icon.type ?? schema.icon"
          [nzTheme]="schema.icon.theme"
          [nzSpin]="schema.icon.spin"
          [nzRotate]="schema.icon.rotate"></i>
        <ng-container *nzStringTemplateOutlet="schema.content">{{ schema.content }}</ng-container>
      </button>
    </ng-container>
  </ng-container>
</ng-template>

<!-- 关于为什么使用 `AbstractControl.get([name])` 而不是 `AbstractControl.get(name)` ？ -->
<!-- 由于 NG 没有提供 FormArrayDirective，查阅源码后发现其实 FormGroupDirective 是兼容传入 FormArray 对象的。 -->
<!-- 需要注意的就是 AbstractControl#get() 方法，由于 FormGroupDirective 原本是为 FormGroup 服务的， -->
<!-- 而 FormGroup 的控件名为字符串，AbstractControl#get() 方法的参数自然也只处理字符串类型（调用了 String#split()）， -->
<!-- 但 FormArray 的控件名为数字，此时如果参数传入的是数字，就会出问题，因此这里将参数一律转为数组来绕开此问题。 -->
<ng-template #formTemplate let-form="form" let-schemas="schemas">
  <form
    nz-row
    nz-form
    [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
    [nzLayout]="layout"
    [nzNoColon]="!colon"
    [formGroup]="form">
    <ng-container *ngFor="let schema of schemas">
      <div *ngIf="!schema.hidden" nz-col [nzSpan]="schema.span ?? null" [nzOffset]="schema.offset" [nzFlex]="schema.flex">
        <ng-container [ngSwitch]="schema.type">
          <ng-container *ngSwitchCase="'group'">
            <nz-divider *ngIf="schema.label" [nzText]="schema.label"></nz-divider>
            <ng-container *ngTemplateOutlet="formTemplate; context: { form: form.get([schema.name]), schemas: schema.schemas }">
            </ng-container>
          </ng-container>

          <ng-container *ngSwitchCase="'array'">
            <nz-divider *ngIf="schema.label" [nzText]="schema.label"></nz-divider>
            <ng-container *ngTemplateOutlet="formTemplate; context: { form: form.get([schema.name]), schemas: schema.schemas }">
            </ng-container>
          </ng-container>

          <ng-container *ngSwitchCase="'input-group'">
            <nz-form-item>
              <ng-container *ngIf="schema.label">
                <ng-container *ngTemplateOutlet="labelTemplate; context: { schema }"></ng-container>
              </ng-container>

              <nz-form-control>
                <nz-input-group
                  #host
                  nz-row
                  nzCompact
                  [fluentPropertyBinder]="{ host, schema }"
                  [fluentEventBinder]="{ host, schema }"
                  [nzAddOnBefore]="schema.before?.template"
                  [nzAddOnAfter]="schema.after?.template"
                  [nzAddOnBeforeIcon]="schema.before?.icon"
                  [nzAddOnAfterIcon]="schema.after?.icon"
                  [nzPrefix]="schema.prefix"
                  [nzSuffix]="schema.suffix">
                  <ng-container *ngFor="let subschema of schema.schemas">
                    <ng-container
                      *ngTemplateOutlet="composableComponentTemplate; context: { control: form.get([subschema.name]), schema: subschema }">
                    </ng-container>
                  </ng-container>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </ng-container>

          <ng-container *ngSwitchDefault>
            <nz-form-item>
              <ng-container *ngIf="schema.label">
                <ng-container *ngTemplateOutlet="labelTemplate; context: { schema }"></ng-container>
              </ng-container>

              <nz-form-control
                [nzHasFeedback]="schema.feedback"
                [nzValidateStatus]="form.get([schema.name])"
                [nzSuccessTip]="schema.tips?.success"
                [nzWarningTip]="schema.tips?.warning"
                [nzErrorTip]="schema.tips?.error"
                [nzValidatingTip]="schema.tips?.validating"
                [nzExtra]="schema.tips?.extra"
                [nzAutoTips]="schema.tips?.auto ?? {}">
                <ng-container
                  *ngTemplateOutlet="componentTemplate; context: { control: form.get([schema.name]), schema: schema }">
                </ng-container>
              </nz-form-control>
            </nz-form-item>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>

  </form>
</ng-template>
