<fluent-row gap="2" align="start">
  <fluent-col span="4">
    <div>col-4</div>
  </fluent-col>

  <fluent-col span="4">
    <div [style.height.px]="100">col-4</div>
  </fluent-col>

  <fluent-col span="4">
    <div>col-4</div>
  </fluent-col>
</fluent-row>

<fluent-row gap="2" align="center">
  <fluent-col span="4">
    <div>col-4</div>
  </fluent-col>

  <fluent-col span="4">
    <div [style.height.px]="100">col-4</div>
  </fluent-col>

  <fluent-col span="4">
    <div>col-4</div>
  </fluent-col>
</fluent-row>

<fluent-row gap="2" align="end">
  <fluent-col span="4">
    <div>col-4</div>
  </fluent-col>

  <fluent-col span="4">
    <div [style.height.px]="100">col-4</div>
  </fluent-col>

  <fluent-col span="4">
    <div>col-4</div>
  </fluent-col>
</fluent-row>
