<!-- 组件模板 -->
<!-- 根据 schema.type 来输出不同的控件 -->
<!-- @param control FormControl -->
<!-- @param schema  组件的图示 -->
<!-- @param model   当前模型值 -->
<ng-template #componentTemplate let-control="control" let-schema="schema" let-model="model">
  <ng-container [ngSwitch]="schema.type">
    <ng-container *ngSwitchCase="'input'">
      <ng-container *ngIf="schema.autocomplete as autocomplete">
        <input
          nz-input
          [attr.id]="schema.id"
          [attr.maxlength]="schema.length ?? schema.length?.max"
          [attr.minlength]="schema.length ?? schema.length?.min"
          [fluentEventBinder]="{ schema, control }"
          [fluentPropertyBinder]="{ schema }"
          [formControl]="control"
          [nzAutocomplete]="autocompleteCmp"
          [placeholder]="schema.placeholder ?? ''"
          [type]="schema.subtype ?? 'text'"
          [autofocus]="schema.focus"
          [readonly]="schema.readonly"
          [nzSize]="schema.size"
          [nzBorderless]="schema.borderless">
        <nz-autocomplete
          #autocompleteCmp
          [compareWith]="autocomplete.compare"
          [nzBackfill]="autocomplete.backfill"
          [nzDataSource]="autocomplete.options"
          [nzWidth]="autocomplete.width"></nz-autocomplete>
      </ng-container>
      <input
        *ngIf="!schema.autocomplete"
        nz-input
        [attr.id]="schema.id"
        [attr.maxlength]="schema.length ?? schema.length?.max"
        [attr.minlength]="schema.length ?? schema.length?.min"
        [fluentEventBinder]="{ schema, control }"
        [fluentPropertyBinder]="{ schema }"
        [formControl]="control"
        [placeholder]="schema.placeholder ?? ''"
        [type]="schema.subtype ?? 'text'"
        [autofocus]="schema.focus"
        [readonly]="schema.readonly"
        [nzSize]="schema.size"
        [nzBorderless]="schema.borderless">
    </ng-container>

    <ng-container *ngSwitchCase="'textarea'">
      <ng-container *ngIf="schema.autocomplete as autocomplete">
        <textarea
          nz-input
          [attr.id]="schema.id"
          [attr.maxlength]="schema.length ?? schema.length?.max"
          [attr.minlength]="schema.length ?? schema.length?.min"
          [fluentEventBinder]="{ schema, control }"
          [fluentPropertyBinder]="{ schema }"
          [formControl]="control"
          [nzAutocomplete]="autocompleteCmp"
          [nzAutosize]="schema.autosize ?? {}"
          [placeholder]="schema.placeholder ?? ''"
          [rows]="schema.rows"
          [autofocus]="schema.focus"
          [readonly]="schema.readonly"
          [nzSize]="schema.size"
          [nzBorderless]="schema.borderless"></textarea>
        <nz-autocomplete
          #autocompleteCmp
          [compareWith]="autocomplete.compare"
          [nzBackfill]="autocomplete.backfill"
          [nzDataSource]="autocomplete.options"
          [nzWidth]="autocomplete.width"></nz-autocomplete>
      </ng-container>
      <textarea
        *ngIf="!schema.autocomplete"
        nz-input
        [attr.id]="schema.id"
        [attr.maxlength]="schema.length ?? schema.length?.max"
        [attr.minlength]="schema.length ?? schema.length?.min"
        [fluentEventBinder]="{ schema, control }"
        [fluentPropertyBinder]="{ schema }"
        [formControl]="control"
        [nzAutosize]="schema.autosize ?? {}"
        [placeholder]="schema.placeholder ?? ''"
        [rows]="schema.rows"
        [autofocus]="schema.focus"
        [readonly]="schema.readonly"
        [nzSize]="schema.size"
        [nzBorderless]="schema.borderless"></textarea>
    </ng-container>

    <ng-container *ngSwitchCase="'number'">
      <nz-input-number
        #cmp
        [fluentEventBinder]="{ cmp, schema, control }"
        [fluentPropertyBinder]="{ cmp, schema }"
        [formControl]="control"
        [nzId]="schema.id"
        [nzMax]="schema.max ?? infinity"
        [nzMin]="schema.min ?? -infinity"
        [nzPlaceHolder]="schema.placeholder ?? ''"
        [nzPrecision]="schema.precision?.value ?? (schema.precision | typeof: 'number') ? schema.precision : ''"
        [nzPrecisionMode]="schema.precision?.mode"
        [nzStep]="schema.step ?? 1"
        [nzAutoFocus]="schema.focus"
        [nzReadOnly]="schema.readonly"
        [nzSize]="schema.size"
        [nzBorderless]="schema.borderless">
      </nz-input-number>
    </ng-container>

    <ng-container *ngSwitchCase="'date'">
      <nz-date-picker
        #cmp
        [fluentEventBinder]="{ cmp, schema, control }"
        [fluentPropertyBinder]="{ cmp, schema }"
        [formControl]="control"
        [nzAllowClear]="schema.clear"
        [nzFormat]="schema.format"
        [nzId]="schema.id"
        [nzInline]="schema.inline"
        [nzMode]="schema.mode"
        [nzPlaceHolder]="schema.placeholder"
        [nzShowTime]="schema.time"
        [nzBackdrop]="schema.backdrop"
        [nzPlacement]="schema.placement ?? 'bottomLeft'"
        [nzSuffixIcon]="schema.suffixIcon ?? 'calendar'"
        [nzAutoFocus]="schema.focus"
        [nzInputReadOnly]="schema.readonly"
        [nzSize]="schema.size"
        [nzBorderless]="schema.borderless"
        [nzShowToday]="schema.today ?? true"
        [nzShowNow]="schema.now ?? true">
      </nz-date-picker>
    </ng-container>

    <ng-container *ngSwitchCase="'range'">
      <nz-range-picker
        #cmp
        [fluentEventBinder]="{ cmp, schema, control }"
        [fluentPropertyBinder]="{ cmp, schema }"
        [formControl]="control"
        [nzAllowClear]="schema.clear"
        [nzFormat]="schema.format"
        [nzId]="schema.id"
        [nzInline]="schema.inline"
        [nzMode]="schema.mode"
        [nzPlaceHolder]="schema.placeholder"
        [nzShowTime]="schema.time"
        [nzShowTime]="schema.time"
        [nzBackdrop]="schema.backdrop"
        [nzPlacement]="schema.placement ?? 'bottomLeft'"
        [nzSuffixIcon]="schema.suffixIcon ?? 'calendar'"
        [nzAutoFocus]="schema.focus"
        [nzInputReadOnly]="schema.readonly"
        [nzSize]="schema.size"
        [nzBorderless]="schema.borderless"
        [nzShowToday]="schema.today ?? true"
        [nzShowNow]="schema.now ?? true"
        [nzSeparator]="schema.separator">
      </nz-range-picker>
    </ng-container>

    <ng-container *ngSwitchCase="'time'">
      <nz-time-picker
        #cmp
        [fluentEventBinder]="{ cmp, schema, control }"
        [fluentPropertyBinder]="{ cmp, schema }"
        [formControl]="control"
        [nzAllowEmpty]="schema.clear"
        [nzFormat]="schema.format ?? 'HH:mm:ss'"
        [nzHourStep]="schema.step?.hour"
        [nzId]="schema.id"
        [nzMinuteStep]="schema.step?.minute"
        [nzPlaceHolder]="schema.placeholder"
        [nzSecondStep]="schema.step?.second"
        [nzAutoFocus]="schema.focus"
        [nzSize]="schema.size"
        [nzBorderless]="schema.borderless"
        [nzBackdrop]="schema.backdrop"
        [nzSuffixIcon]="schema.suffixIcon ?? 'clock-circle'">
      </nz-time-picker>
    </ng-container>

    <ng-container *ngSwitchCase="'switch'">
      <nz-switch
        #cmp
        [fluentEventBinder]="{ cmp, schema, control }"
        [fluentPropertyBinder]="{ cmp, schema }"
        [formControl]="control"
        [nzCheckedChildren]="schema.placeholder?.[0]"
        [nzUnCheckedChildren]="schema.placeholder?.[1]"
        [nzSize]="schema.size">
      </nz-switch>
    </ng-container>

    <ng-container *ngSwitchCase="'select'">
      <nz-select
        #cmp
        [fluentEventBinder]="{ cmp, schema, control }"
        [fluentPropertyBinder]="{ cmp, schema }"
        [formControl]="control"
        [nzAllowClear]="schema.clear"
        [nzId]="schema.id"
        [nzMaxMultipleCount]="schema.limit ?? infinity"
        [nzMode]="schema.mode ?? 'default'"
        [nzPlaceHolder]="schema.placeholder"
        [nzShowSearch]="schema.search"
        [nzBackdrop]="schema.backdrop"
        [nzBorderless]="schema.borderless"
        [nzAutoFocus]="schema.focus"
        [nzShowArrow]="schema.arrow ?? (!schema.mode || schema.mode === 'default')"
        [nzSize]="schema.size"
        [nzSuffixIcon]="schema.suffixIcon">
        <nz-option
          *ngFor="let option of schema.options"
          [nzDisabled]="option[schema.config?.disabledProperty ?? 'disabled']"
          [nzLabel]="option[schema.config?.labelProperty ?? 'label']"
          [nzValue]="option[schema.config?.valueProperty ?? 'value']">
        </nz-option>
      </nz-select>
    </ng-container>

    <ng-container *ngSwitchCase="'cascader'">
      <nz-cascader
        #cmp
        [fluentEventBinder]="{ cmp, schema, control }"
        [fluentPropertyBinder]="{ cmp, schema }"
        [formControl]="control"
        [nzAllowClear]="schema.clear ?? true"
        [nzAutoFocus]="schema.focus"
        [nzBackdrop]="schema.backdrop"
        [nzExpandIcon]="schema.expandIcon ?? ''"
        [nzExpandTrigger]="schema.trigger"
        [nzLabelProperty]="schema.config?.labelProperty ?? 'label'"
        [nzLoadData]="schema.loadData"
        [nzOptions]="schema.options"
        [nzPlaceHolder]="schema.placeholder"
        [nzShowArrow]="schema.arrow ?? true"
        [nzShowSearch]="schema.search"
        [nzSize]="schema.size"
        [nzSuffixIcon]="schema.suffixIcon ?? 'down'"
        [nzValueProperty]="schema.config?.valueProperty ?? 'value'">
      </nz-cascader>
    </ng-container>

    <ng-container *ngSwitchCase="'slider'">
      <nz-slider
        #cmp
        [fluentEventBinder]="{ cmp, schema, control }"
        [fluentPropertyBinder]="{ cmp, schema }"
        [formControl]="control"
        [nzIncluded]="schema.included ?? true"
        [nzMax]="schema.max ?? 100"
        [nzMin]="schema.min"
        [nzRange]="schema.range"
        [nzStep]="schema.step ?? 1"
        [nzDots]="schema.dots"
        [nzVertical]="schema.vertical"
        [nzReverse]="schema.reverse">
      </nz-slider>
    </ng-container>

    <ng-container *ngSwitchCase="'radio'">
      <nz-radio-group
        #cmp
        [fluentEventBinder]="{ cmp, schema, control }"
        [fluentPropertyBinder]="{ cmp, schema }"
        [formControl]="control"
        [nzButtonStyle]="schema.style"
        [nzSize]="schema.size">
        <ng-container *ngFor="let option of schema.options">
          <label
            *ngIf="!schema.style"
            nz-radio
            [nzValue]="option[schema.config?.valueProperty ?? 'value']">
            {{ option[schema.config?.labelProperty ?? 'label'] }}
          </label>
          <label
            *ngIf="schema.style"
            nz-radio-button
            [nzValue]="option[schema.config?.valueProperty ?? 'value']">
            {{ option[schema.config?.labelProperty ?? 'label'] }}
          </label>
        </ng-container>
      </nz-radio-group>
    </ng-container>

    <ng-container *ngSwitchCase="'checkbox'">
      <label
        #cmp
        nz-checkbox
        [fluentEventBinder]="{ cmp, schema, control }"
        [fluentPropertyBinder]="{ cmp, schema }"
        [formControl]="control"
        [nzId]="schema.id"
        [nzAutoFocus]="schema.focus"
        [nzIndeterminate]="schema.indeterminate">{{ schema.content }}</label>
    </ng-container>

    <ng-container *ngSwitchCase="'checkbox-group'">
      <nz-checkbox-group
        #cmp
        [fluentEventBinder]="{ cmp, schema, control }"
        [fluentPropertyBinder]="{ cmp, schema }"
        [formControl]="control">
      </nz-checkbox-group>
    </ng-container>

    <ng-container *ngSwitchCase="'rate'">
      <nz-rate
        #cmp
        [fluentEventBinder]="{ cmp, schema, control }"
        [fluentPropertyBinder]="{ cmp, schema }"
        [formControl]="control"
        [nzAllowClear]="schema.clear ?? true"
        [nzAllowHalf]="schema.half"
        [nzCharacter]="schema.character"
        [nzCount]="schema.count ?? 5"
        [nzTooltips]="schema.tooltips ?? []"
        [nzAutoFocus]="schema.focus"></nz-rate>
    </ng-container>

    <ng-container *ngSwitchCase="'input-group'">
      <nz-input-group
        #cmp
        nzCompact
        [fluentEventBinder]="{ cmp, schema }"
        [fluentPropertyBinder]="{ cmp, schema }"
        [nzAddOnAfter]="schema.after?.icon ? null : schema.after"
        [nzAddOnAfterIcon]="schema.after?.icon"
        [nzAddOnBefore]="schema.before?.icon ? null : schema.before"
        [nzAddOnBeforeIcon]="schema.before?.icon"
        [nzPrefix]="schema.prefix?.icon ? null : schema.prefix"
        [nzPrefixIcon]="schema.prefix?.icon"
        [nzSize]="schema.size"
        [nzSuffix]="schema.suffix?.icon ? null : schema.suffix"
        [nzSuffixIcon]="schema.suffix?.icon">
        <ng-container *ngFor="let subschema of schema.schemas">
          <ng-container
            [ngTemplateOutlet]="composableComponentTemplate"
            [ngTemplateOutletContext]="{ control: (subschema.name | control: control), schema: subschema, model: model }">
          </ng-container>
        </ng-container>
      </nz-input-group>
    </ng-container>

    <ng-container *ngSwitchCase="'button-group'">
      <nz-button-group
        #cmp
        [fluentEventBinder]="{ cmp, schema }"
        [fluentPropertyBinder]="{ cmp, schema }"
        [nzSize]="schema.size">
        <ng-container *ngFor="let subschema of schema.schemas">
          <ng-container *ngTemplateOutlet="componentTemplate; context: { schema: subschema, model: model }">
          </ng-container>
        </ng-container>
      </nz-button-group>
    </ng-container>

    <ng-container *ngSwitchCase="'button'">
      <button
        *ngIf="!(schema.hidden | call: { model, control, schema })"
        nz-button
        [disabled]="schema.disabled | call: { model, control, schema }"
        [fluentEventBinder]="{ schema }"
        [fluentPropertyBinder]="{ schema }"
        [nzBlock]="schema.block"
        [nzDanger]="schema.danger | call: { model, control, schema }"
        [nzGhost]="schema.ghost | call: { model, control, schema }"
        [nzLoading]="schema.loading | call: { model, control, schema }"
        [nzShape]="schema.shape"
        [nzSize]="schema.size"
        [nzType]="schema.subtype"
        [type]="schema.mode">
        <i
          *ngIf="schema.icon"
          nz-icon
          [nzRotate]="schema.icon.rotate"
          [nzSpin]="schema.icon.spin"
          [nzTheme]="schema.icon.theme"
          [nzType]="schema.icon.type ?? schema.icon"></i>
        <ng-container *nzStringTemplateOutlet="schema.content">{{ schema.content }}</ng-container>
      </button>
    </ng-container>
  </ng-container>
</ng-template>

<!-- 可组合的组件模板 -->
<!-- 根据 schema.type 来输出不同的控件 -->
<!-- @param control FormControl -->
<!-- @param schema  组件的图示 -->
<!-- @param model   当前模型值 -->
<ng-template #composableComponentTemplate let-control="control" let-schema="schema" let-model="model">
  <ng-container
    *ngIf="!(schema.hidden | call: { model, control, schema })"
    [ngSwitch]="schema.type">
    <ng-container *ngSwitchCase="'input'">
      <ng-container *ngIf="schema.autocomplete as autocomplete">
        <input
          nz-col
          nz-input
          [attr.id]="schema.id"
          [attr.maxlength]="schema.length ?? schema.length?.max"
          [attr.minlength]="schema.length ?? schema.length?.min"
          [fluentEventBinder]="{ schema, control }"
          [fluentPropertyBinder]="{ schema }"
          [formControl]="control"
          [nzAutocomplete]="autocompleteCmp"
          [nzFlex]="schema.flex"
          [nzOffset]="schema.offset"
          [nzSpan]="schema.span ?? null"
          [placeholder]="schema.placeholder ?? ''"
          [type]="schema.subtype ?? 'text'"
          [autofocus]="schema.focus"
          [readonly]="schema.readonly"
          [nzSize]="schema.size"
          [nzBorderless]="schema.borderless">
        <nz-autocomplete
          #autocompleteCmp
          [compareWith]="autocomplete.compare"
          [nzBackfill]="autocomplete.backfill"
          [nzDataSource]="autocomplete.options"
          [nzWidth]="autocomplete.width"></nz-autocomplete>
      </ng-container>
      <input
        *ngIf="!schema.autocomplete"
        nz-col
        nz-input
        [attr.id]="schema.id"
        [attr.maxlength]="schema.length ?? schema.length?.max"
        [attr.minlength]="schema.length ?? schema.length?.min"
        [fluentEventBinder]="{ schema, control }"
        [fluentPropertyBinder]="{ schema }"
        [formControl]="control"
        [nzFlex]="schema.flex"
        [nzOffset]="schema.offset"
        [nzSpan]="schema.span ?? null"
        [placeholder]="schema.placeholder ?? ''"
        [type]="schema.subtype ?? 'text'"
        [autofocus]="schema.focus"
        [readonly]="schema.readonly"
        [nzSize]="schema.size"
        [nzBorderless]="schema.borderless">
    </ng-container>

    <ng-container *ngSwitchCase="'textarea'">
      <ng-container *ngIf="schema.autocomplete as autocomplete">
        <textarea
          nz-col
          nz-input
          [attr.id]="schema.id"
          [attr.maxlength]="schema.length ?? schema.length?.max"
          [attr.minlength]="schema.length ?? schema.length?.min"
          [fluentEventBinder]="{ schema, control }"
          [fluentPropertyBinder]="{ schema }"
          [formControl]="control"
          [nzAutocomplete]="autocompleteCmp"
          [nzAutosize]="schema.autosize ?? {}"
          [nzFlex]="schema.flex"
          [nzOffset]="schema.offset"
          [nzSpan]="schema.span ?? null"
          [placeholder]="schema.placeholder ?? ''"
          [rows]="schema.rows"
          [autofocus]="schema.focus"
          [readonly]="schema.readonly"
          [nzSize]="schema.size"
          [nzBorderless]="schema.borderless"></textarea>
        <nz-autocomplete
          #autocompleteCmp
          [compareWith]="autocomplete.compare"
          [nzBackfill]="autocomplete.backfill"
          [nzDataSource]="autocomplete.options"
          [nzWidth]="autocomplete.width"></nz-autocomplete>
      </ng-container>
      <textarea
        *ngIf="!schema.autocomplete"
        nz-col
        nz-input
        [attr.id]="schema.id"
        [attr.maxlength]="schema.length ?? schema.length?.max"
        [attr.minlength]="schema.length ?? schema.length?.min"
        [fluentEventBinder]="{ schema, control }"
        [fluentPropertyBinder]="{ schema }"
        [formControl]="control"
        [nzAutosize]="schema.autosize ?? {}"
        [nzFlex]="schema.flex"
        [nzOffset]="schema.offset"
        [nzSpan]="schema.span ?? null"
        [placeholder]="schema.placeholder ?? ''"
        [rows]="schema.rows"
        [autofocus]="schema.focus"
        [readonly]="schema.readonly"
        [nzSize]="schema.size"
        [nzBorderless]="schema.borderless"></textarea>
    </ng-container>

    <ng-container *ngSwitchCase="'number'">
      <nz-input-number
        #cmp
        nz-col
        [fluentEventBinder]="{ cmp, schema, control }"
        [fluentPropertyBinder]="{ cmp, schema }"
        [formControl]="control"
        [nzFlex]="schema.flex"
        [nzId]="schema.id"
        [nzMax]="schema.max ?? infinity"
        [nzMin]="schema.min ?? -infinity"
        [nzOffset]="schema.offset"
        [nzPlaceHolder]="schema.placeholder ?? ''"
        [nzPrecision]="schema.precision ?? ''"
        [nzPrecisionMode]="schema.precisionMode"
        [nzSpan]="schema.span ?? null"
        [nzStep]="schema.step ?? 1"
        [nzAutoFocus]="schema.focus"
        [nzReadOnly]="schema.readonly"
        [nzSize]="schema.size"
        [nzBorderless]="schema.borderless">
      </nz-input-number>
    </ng-container>

    <ng-container *ngSwitchCase="'date'">
      <nz-date-picker
        #cmp
        nz-col
        [fluentEventBinder]="{ cmp, schema, control }"
        [fluentPropertyBinder]="{ cmp, schema }"
        [formControl]="control"
        [nzAllowClear]="schema.clear"
        [nzFlex]="schema.flex"
        [nzFormat]="schema.format"
        [nzId]="schema.id"
        [nzInline]="schema.inline"
        [nzMode]="schema.mode"
        [nzOffset]="schema.offset"
        [nzPlaceHolder]="schema.placeholder"
        [nzShowTime]="schema.time"
        [nzSpan]="schema.span ?? null"
        [nzShowTime]="schema.time"
        [nzBackdrop]="schema.backdrop"
        [nzPlacement]="schema.placement ?? 'bottomLeft'"
        [nzSuffixIcon]="schema.suffixIcon ?? 'calendar'"
        [nzAutoFocus]="schema.focus"
        [nzInputReadOnly]="schema.readonly"
        [nzSize]="schema.size"
        [nzBorderless]="schema.borderless"
        [nzShowToday]="schema.today ?? true"
        [nzShowNow]="schema.now ?? true"></nz-date-picker>
    </ng-container>

    <ng-container *ngSwitchCase="'range'">
      <nz-range-picker
        #cmp
        nz-col
        [fluentEventBinder]="{ cmp, schema, control }"
        [fluentPropertyBinder]="{ cmp, schema }"
        [formControl]="control"
        [nzAllowClear]="schema.clear"
        [nzFlex]="schema.flex"
        [nzFormat]="schema.format"
        [nzId]="schema.id"
        [nzInline]="schema.inline"
        [nzMode]="schema.mode"
        [nzOffset]="schema.offset"
        [nzPlaceHolder]="schema.placeholder"
        [nzShowTime]="schema.time"
        [nzSpan]="schema.span ?? null"
        [nzShowTime]="schema.time"
        [nzBackdrop]="schema.backdrop"
        [nzPlacement]="schema.placement ?? 'bottomLeft'"
        [nzSuffixIcon]="schema.suffixIcon ?? 'calendar'"
        [nzAutoFocus]="schema.focus"
        [nzInputReadOnly]="schema.readonly"
        [nzSize]="schema.size"
        [nzBorderless]="schema.borderless"
        [nzShowToday]="schema.today ?? true"
        [nzShowNow]="schema.now ?? true"
        [nzSeparator]="schema.separator"></nz-range-picker>
    </ng-container>

    <ng-container *ngSwitchCase="'time'">
      <nz-time-picker
        #cmp
        nz-col
        [fluentEventBinder]="{ cmp, schema, control }"
        [fluentPropertyBinder]="{ cmp, schema }"
        [formControl]="control"
        [nzAllowEmpty]="schema.clear"
        [nzFlex]="schema.flex"
        [nzFormat]="schema.format ?? 'HH:mm:ss'"
        [nzHourStep]="schema.step?.hour"
        [nzId]="schema.id"
        [nzMinuteStep]="schema.step?.minute"
        [nzOffset]="schema.offset"
        [nzPlaceHolder]="schema.placeholder"
        [nzSecondStep]="schema.step?.second"
        [nzSpan]="schema.span ?? null"
        [nzAutoFocus]="schema.focus"
        [nzSize]="schema.size"
        [nzBorderless]="schema.borderless"
        [nzBackdrop]="schema.backdrop"
        [nzSuffixIcon]="schema.suffixIcon ?? 'clock-circle'">
      </nz-time-picker>
    </ng-container>

    <ng-container *ngSwitchCase="'select'">
      <nz-select
        #cmp
        nz-col
        [fluentEventBinder]="{ cmp, schema, control }"
        [fluentPropertyBinder]="{ cmp, schema }"
        [formControl]="control"
        [nzAllowClear]="schema.clear"
        [nzFlex]="schema.flex"
        [nzId]="schema.id"
        [nzMaxMultipleCount]="schema.limit ?? infinity"
        [nzMode]="schema.mode ?? 'default'"
        [nzOffset]="schema.offset"
        [nzPlaceHolder]="schema.placeholder"
        [nzShowSearch]="schema.search"
        [nzSpan]="schema.span ?? null"
        [nzShowSearch]="schema.search"
        [nzBackdrop]="schema.backdrop"
        [nzBorderless]="schema.borderless"
        [nzAutoFocus]="schema.focus"
        [nzShowArrow]="schema.arrow ?? (!schema.mode || schema.mode === 'default')"
        [nzSize]="schema.size"
        [nzSuffixIcon]="schema.suffixIcon">
        <nz-option
          *ngFor="let option of schema.options"
          [nzDisabled]="option[schema.config?.disabledProperty ?? 'disabled']"
          [nzLabel]="option[schema.config?.labelProperty ?? 'label']"
          [nzValue]="option[schema.config?.valueProperty ?? 'value']">
        </nz-option>
      </nz-select>
    </ng-container>

    <ng-container *ngSwitchCase="'cascader'">
      <nz-cascader
        #cmp
        nz-col
        [fluentEventBinder]="{ cmp, schema, control }"
        [fluentPropertyBinder]="{ cmp, schema }"
        [formControl]="control"
        [nzAllowClear]="schema.clear ?? true"
        [nzAutoFocus]="schema.focus"
        [nzBackdrop]="schema.backdrop"
        [nzExpandIcon]="schema.expandIcon"
        [nzExpandTrigger]="schema.trigger"
        [nzFlex]="schema.flex"
        [nzLabelProperty]="schema.config?.labelProperty ?? 'label'"
        [nzLoadData]="schema.loadData"
        [nzOffset]="schema.offset"
        [nzOptions]="schema.options"
        [nzPlaceHolder]="schema.placeholder"
        [nzShowArrow]="schema.arrow ?? true"
        [nzShowSearch]="schema.search"
        [nzSize]="schema.size"
        [nzSpan]="schema.span ?? null"
        [nzSuffixIcon]="schema.suffixIcon"
        [nzValueProperty]="schema.config?.valueProperty ?? 'value'">
      </nz-cascader>
    </ng-container>

    <ng-container *ngSwitchCase="'button'">
      <button
        nz-button
        nz-col
        [disabled]="schema.disabled"
        [fluentEventBinder]="{ schema }"
        [fluentPropertyBinder]="{ schema }"
        [nzBlock]="schema.block"
        [nzDanger]="schema.danger"
        [nzFlex]="schema.flex"
        [nzGhost]="schema.ghost"
        [nzLoading]="schema.loading"
        [nzOffset]="schema.offset"
        [nzShape]="schema.shape"
        [nzSize]="schema.size"
        [nzSpan]="schema.span ?? null"
        [nzType]="schema.subtype"
        [type]="schema.mode">
        <i
          *ngIf="schema.icon"
          nz-icon
          [nzRotate]="schema.icon.rotate"
          [nzSpin]="schema.icon.spin"
          [nzTheme]="schema.icon.theme"
          [nzType]="schema.icon.type ?? schema.icon"></i>
        <ng-container *nzStringTemplateOutlet="schema.content">{{ schema.content }}</ng-container>
      </button>
    </ng-container>
  </ng-container>
</ng-template>
