.ng-doc-footer {
  padding: calc(var(--ng-doc-base-gutter) * 3);
  color: var(--ng-doc-text-muted);
}

.ng-doc-header-controls {
  a[ng-doc-button-icon],
  button[ng-doc-button-icon],
  ng-doc-theme-toggle {
    margin-left: calc(var(--ng-doc-base-gutter) * 2);
  }
}

@media screen and (max-width: 600px) {
  .ng-doc-header-controls {
    a[ng-doc-button-icon],
    button[ng-doc-button-icon],
    ng-doc-theme-toggle {
      margin-left: var(--ng-doc-base-gutter);
    }
  }
}
