{
  "$schema": "https://json.schemastore.org/prettierrc",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular",
        "singleQuote": true,
        "trailingComma": "all",
        "quoteProps": "preserve",
        "arrowParens": "avoid",
        "printWidth": 120,
        "bracketSameLine": true,
        "htmlWhitespaceSensitivity": "strict"
      }
    }
  ]
}
