{
  "$schema": "https://json.schemastore.org/prettierrc",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular",
        "plugins": [
          "prettier-plugin-organize-attributes"
        ],
        "singleQuote": true,
        "trailingComma": "none",
        "quoteProps": "preserve",
        "arrowParens": "avoid",
        "printWidth": 120,
        "bracketSameLine": true,
        "htmlWhitespaceSensitivity": "strict",
        "attributeGroups": [
          "$ANGULAR_STRUCTURAL_DIRECTIVE",
          "$ANGULAR_ELEMENT_REF",
          "$ID",
          "$CLASS",
          "$NAME",
          "$FOR",
          "$TYPE",
          "$DEFAULT",
          "$TITLE",
          "$ALT",
          "$ROLE",
          "$ARIA",
          "^tabindex$",
          "^style$",
          "$ANGULAR_ANIMATION",
          "$ANGULAR_ANIMATION_INPUT",
          "$ANGULAR_INPUT",
          "$ANGULAR_TWO_WAY_BINDING",
          "$ANGULAR_OUTPUT"
        ]
      }
    }
  ]
}
