<ng-template let-control="control" let-schema="schema" let-model="model" [fluentContextGuard]="contextGuard">
  <nz-space
    [ngClass]="schema.class"
    [ngStyle]="schema.style"
    [nzSize]="schema.size ?? 'small'"
    [nzDirection]="schema.direction ?? 'horizontal'"
    [nzAlign]="schema.align"
    [nzWrap]="schema.wrapable"
    [nzSplit]="schema.split!"
    [hidden]="schema.hidden | reactive: model:schema:control"
    [fluentBinding]="{ schema, control }">
    <!-- space 不支持 col 属性 -->
    <ng-container *ngFor="let subschema of schema.schemas">
      <ng-container *ngIf="!(subschema.hidden | reactive: model:schema:control)">
        <fluent-form-col-content-outlet
          *nzSpaceItem
          [control]="subschema.key | control: control"
          [schema]="subschema"
          [model]="model"></fluent-form-col-content-outlet>
      </ng-container>
    </ng-container>
  </nz-space>
</ng-template>
