<fluent-row gap="2" justify="start">
  <fluent-col span="4">
    <div>col-4</div>
  </fluent-col>
  <fluent-col span="4">
    <div>col-4</div>
  </fluent-col>
</fluent-row>

<fluent-row gap="2" justify="center">
  <fluent-col span="4">
    <div>col-4</div>
  </fluent-col>
  <fluent-col span="4">
    <div>col-4</div>
  </fluent-col>
</fluent-row>

<fluent-row gap="2" justify="end">
  <fluent-col span="4">
    <div>col-4</div>
  </fluent-col>
  <fluent-col span="4">
    <div>col-4</div>
  </fluent-col>
</fluent-row>

<fluent-row gap="2" justify="space-between">
  <fluent-col span="4">
    <div>col-4</div>
  </fluent-col>
  <fluent-col span="4">
    <div>col-4</div>
  </fluent-col>
</fluent-row>

<fluent-row gap="2" justify="space-around">
  <fluent-col span="4">
    <div>col-4</div>
  </fluent-col>
  <fluent-col span="4">
    <div>col-4</div>
  </fluent-col>
</fluent-row>

<fluent-row gap="2" justify="space-evenly">
  <fluent-col span="4">
    <div>col-4</div>
  </fluent-col>
  <fluent-col span="4">
    <div>col-4</div>
  </fluent-col>
</fluent-row>
