<ng-template let-control="control" let-schema="schema" let-model="model" [fluentContextGuard]="contextGuard">
  <ng-container *fluentInject="NzInputGroup as inputGroup; optional: true">
    <ng-container *ngIf="inputGroup; else standardTemplate">
      <nz-input-number
        *ngIf="!(schema.hidden | reactive: model:schema:control)"
        #component
        nz-col
        [fluentBinding]="{ component, schema, control }"
        [formControl]="control"
        [ngClass]="schema.class"
        [ngStyle]="schema.style"
        [nzSpan]="schema.col | col: 'span'"
        [nzFlex]="schema.col | col: 'flex'"
        [nzOffset]="schema.col | col: 'offset'"
        [nzPush]="schema.col | col: 'push'"
        [nzPull]="schema.col | col: 'pull'"
        [nzOrder]="schema.col | col: 'order'"
        [nzId]="schema.id!"
        [nzMax]="schema.range?.max ?? infinity"
        [nzMin]="schema.range?.min ?? -infinity"
        [nzPlaceHolder]="schema.placeholder ?? ''"
        [nzPrecision]="helper.precision | invoke: schema.precision"
        [nzPrecisionMode]="helper.precisionMode | invoke: schema.precision"
        [nzStep]="schema.step ?? 1"
        [nzAutoFocus]="schema.autofocus"
        [nzReadOnly]="schema.readonly | reactive: model:schema:control"
        [nzSize]="schema.size!"
        [nzBorderless]="schema.borderless">
      </nz-input-number>
    </ng-container>

    <ng-template #standardTemplate>
      <nz-input-number
        #component
        [fluentBinding]="{ component, schema, control }"
        [formControl]="control"
        [ngClass]="schema.class"
        [ngStyle]="schema.style"
        [nzId]="schema.id!"
        [nzMax]="schema.range?.max ?? infinity"
        [nzMin]="schema.range?.min ?? -infinity"
        [nzPlaceHolder]="schema.placeholder ?? ''"
        [nzPrecision]="helper.precision | invoke: schema.precision"
        [nzPrecisionMode]="helper.precisionMode | invoke: schema.precision"
        [nzStep]="schema.step ?? 1"
        [nzAutoFocus]="schema.autofocus"
        [nzReadOnly]="schema.readonly | reactive: model:schema:control"
        [nzSize]="schema.size!"
        [nzBorderless]="schema.borderless">
      </nz-input-number>
    </ng-template>
  </ng-container>
</ng-template>
