<ng-template let-control="control" let-schema="schema" let-model="model" [fluentContextGuard]="contextGuard">
  <ng-container *fluentInject="InputGroup as inputGroup; optional: true">
    <ng-container *ngIf="inputGroup; else standardTemplate">
      <nz-input-number
        *ngIf="!(schema.hidden | reactive: model : schema : control)"
        #component
        fluentCol
        [fluentBinding]="{ component, schema, control, model }"
        [formControl]="control"
        [ngClass]="schema.class"
        [ngStyle]="schema.style"
        [span]="schema.col | col: 'span'"
        [flex]="schema.col | col: 'flex'"
        [offset]="schema.col | col: 'offset'"
        [nzId]="schema.id!"
        [nzMax]="schema.range?.max ?? infinity"
        [nzMin]="schema.range?.min ?? -infinity"
        [nzPlaceHolder]="schema.placeholder ?? ''"
        [nzPrecision]="helper.precision | invoke: schema.precision"
        [nzPrecisionMode]="helper.precisionMode | invoke: schema.precision"
        [nzStep]="schema.step ?? 1"
        [nzAutoFocus]="schema.autofocus"
        [nzReadOnly]="schema.readonly | reactive: model : schema : control"
        [nzSize]="schema.size!"
        [nzBorderless]="schema.borderless">
      </nz-input-number>
    </ng-container>

    <ng-template #standardTemplate>
      <nz-input-number
        #component
        [fluentBinding]="{ component, schema, control, model }"
        [formControl]="control"
        [ngClass]="schema.class"
        [ngStyle]="schema.style"
        [nzId]="schema.id!"
        [nzMax]="schema.range?.max ?? infinity"
        [nzMin]="schema.range?.min ?? -infinity"
        [nzPlaceHolder]="schema.placeholder ?? ''"
        [nzPrecision]="helper.precision | invoke: schema.precision"
        [nzPrecisionMode]="helper.precisionMode | invoke: schema.precision"
        [nzStep]="schema.step ?? 1"
        [nzAutoFocus]="schema.autofocus"
        [nzReadOnly]="schema.readonly | reactive: model : schema : control"
        [nzSize]="schema.size!"
        [nzBorderless]="schema.borderless">
      </nz-input-number>
    </ng-template>
  </ng-container>
</ng-template>
