<ng-template let-control="control" let-schema="schema" let-model="model" [fluentContextGuard]="contextGuard">
  <nz-tabset
    #cmp
    #config="fluentConfig"
    [fluentBinder]="cmp"
    [fluentBinderSchema]="schema"
    [ngClass]="schema.class"
    [ngStyle]="schema.style"
    [nzSelectedIndex]="schema.active"
    [nzType]="schema.type ?? 'line'"
    [nzSize]="schema.size ?? 'default'"
    [nzAnimated]="schema.animate ?? schema.type !== 'card'"
    [nzTabPosition]="schema.position ?? 'top'"
    [nzTabBarGutter]="schema.gutter"
    [nzCentered]="schema.center"
    [hidden]="schema.hidden | call: model:schema:control">
    <nz-tab
      *ngFor="let tabSchema of schema.schemas"
      #cmp
      [fluentBinder]="cmp"
      [fluentBinderSchema]="tabSchema"
      [ngClass]="tabSchema.class"
      [ngStyle]="tabSchema.style"
      [nzTitle]="tabSchema.title"
      [nzDisabled]="tabSchema.disabled | call: model:tabSchema:control"
      [hidden]="tabSchema.hidden | call: model:tabSchema:control">
      <nz-row [nzGutter]="config.gutter">
        <ng-template #formColTemplate let-schema="schema" let-control="control" let-model="model">
          <nz-col
            [nzSpan]="schema.col | col: 'span'"
            [nzFlex]="schema.col | col: 'flex'"
            [nzOffset]="schema.col | col: 'offset'"
            [nzPush]="schema.col | col: 'push'"
            [nzPull]="schema.col | col: 'pull'"
            [nzOrder]="schema.col | col: 'order'"
            [hidden]="schema.hidden | call: model:schema:control">
            <fluent-form-col-content-outlet [control]="control" [schema]="schema" [model]="model">
            </fluent-form-col-content-outlet>
          </nz-col>
        </ng-template>

        <ng-container
          *ngFor="let subschema of tabSchema.schemas"
          [ngTemplateOutlet]="formColTemplate"
          [ngTemplateOutletContext]="{ control: (subschema.name | control: control), schema: subschema, model: model }">
        </ng-container>
      </nz-row>
    </nz-tab>
  </nz-tabset>
</ng-template>
