<nz-spin *ngIf="form" [nzTip]="spinTip" [nzSpinning]="spinning" [nzSize]="spinSize">
  <ng-container *ngTemplateOutlet="formTemplate; context: { form, schemas }"></ng-container>
</nz-spin>

<!-- 关于为什么使用 `AbstractControl.get([name])` 而不是 `AbstractControl.get(name)` ？ -->
<!-- 由于 NG 没有提供 FormArrayDirective，查阅源码后发现其实 FormGroupDirective 是兼容传入 FormArray 对象的。 -->
<!-- 需要注意的就是 AbstractControl#get() 方法，由于 FormGroupDirective 原本是为 FormGroup 服务的， -->
<!-- 而 FormGroup 的控件名为字符串，AbstractControl#get() 方法的参数自然也只处理字符串类型（调用了 String#split()）， -->
<!-- 但 FormArray 的控件名为数字，此时如果参数传入的是数字，就会出问题，因此这里将参数一律转为数组来绕开此问题。 -->
<ng-template #formTemplate let-form="form" let-schemas="schemas">
  <form
    nz-row
    nz-form
    [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
    [nzLayout]="layout"
    [nzNoColon]="!colon"
    [formGroup]="form">
    <ng-container *ngFor="let schema of schemas">
      <div
        nz-col
        [nzSpan]="schema.span ?? null"
        [nzOffset]="schema.offset"
        [nzFlex]="schema.flex"
        [ngSwitch]="schema.type"
        [hidden]="schema.hidden | hidden: model">
        <ng-container *ngSwitchCase="'group'">
          <nz-divider *ngIf="schema.label" [nzText]="schema.label"></nz-divider>
          <ng-container *ngTemplateOutlet="formTemplate; context: { form: form.get([schema.name]), schemas: schema.schemas }">
          </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'array'">
          <nz-divider *ngIf="schema.label" [nzText]="schema.label"></nz-divider>
          <ng-container *ngTemplateOutlet="formTemplate; context: { form: form.get([schema.name]), schemas: schema.schemas }">
          </ng-container>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <nz-form-item>
            <ng-container *ngIf="schema.label">
              <nz-form-label
                [nzSpan]="schema.label.span"
                [nzTooltipTitle]="schema.label.tooltip?.title ?? schema.label.tooltip"
                [nzTooltipIcon]="schema.label.tooltip?.icon"
                [nzFor]="schema.id"
                [nzRequired]="schema.required | hidden: model">
                {{ schema.label.value ?? schema.label }}
              </nz-form-label>
            </ng-container>

            <nz-form-control
              [nzHasFeedback]="schema.feedback"
              [nzValidateStatus]="form.get([schema.name])"
              [nzSuccessTip]="schema.tips?.success"
              [nzWarningTip]="schema.tips?.warning"
              [nzErrorTip]="schema.tips?.error"
              [nzValidatingTip]="schema.tips?.validating"
              [nzExtra]="schema.tips?.extra"
              [nzAutoTips]="schema.tips?.auto ?? {}">
              <ng-container *fluentControlOutlet="form.get([schema.name]) ?? form; schema: schema; model: model">
              </ng-container>
            </nz-form-control>
          </nz-form-item>
        </ng-container>
      </div>
    </ng-container>

  </form>
</ng-template>
