<nz-spin *ngIf="form" [nzTip]="spinTip" [nzSpinning]="spinning" [nzSize]="spinSize">
  <ng-container *ngTemplateOutlet="formTemplate; context: { form, schemas, model }"></ng-container>
</nz-spin>

<!-- 表单模板 -->
<!-- @param schema 当前图示 -->
<!-- @param form   当前表单 -->
<!-- @param model  当前模型 -->
<ng-template #formTemplate let-form="form" let-schemas="schemas" let-model="model">
  <form
    nz-row
    nz-form
    [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
    [nzLayout]="layout"
    [nzNoColon]="!colon"
    [formGroup]="form">

    <!-- 表单项模板 -->
    <!-- @param schema  当前图示 -->
    <!-- @param control 当前控件 -->
    <!-- @param model   当前模型 -->
    <ng-template #formItemTemplate let-schema="schema" let-control="control" let-model="model">
      <div
        nz-col
        [ngClass]="schema.class"
        [nzSpan]="schema.span ?? null"
        [nzOffset]="schema.offset"
        [nzFlex]="schema.flex"
        [ngSwitch]="schema.type"
        [hidden]="schema.hidden | call: model : schema : control">
        <ng-container *ngSwitchCase="'group'">
          <nz-divider *ngIf="schema.label" [nzText]="schema.label"></nz-divider>
          <ng-container
            [ngTemplateOutlet]="formTemplate"
            [ngTemplateOutletContext]="{ form: control, schemas: schema.schemas, model: model[schema.name] }">
          </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'array'">
          <nz-divider *ngIf="schema.label" [nzText]="schema.label"></nz-divider>
          <ng-container
            [ngTemplateOutlet]="formTemplate"
            [ngTemplateOutletContext]="{ form: control, schemas: schema.schemas, model: model[schema.name] }">
          </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'steps'">
          <nz-steps
            #cmp
            [fluentBinder]="cmp"
            [fluentBinderSchema]="schema"
            [nzType]="schema.subtype"
            [nzCurrent]="schema.active ?? 0"
            [nzLabelPlacement]="schema.placement"
            [nzProgressDot]="schema.dot"
            [nzSize]="schema.size"
            [nzStatus]="schema.status ?? 'process'"
            [nzStartIndex]="schema.start ?? 0"
            (nzIndexChange)="schema.active = $event">
            <ng-container *ngFor="let subschema of schema.schemas; index as index">
              <nz-step
                #cmp
                [fluentBinder]="cmp"
                [fluentBinderSchema]="subschema"
                [ngClass]="subschema.class"
                [nzTitle]="subschema.title"
                [nzSubtitle]="subschema.subtitle"
                [nzDescription]="subschema.description"
                [nzDisabled]="subschema.disabled | call: model : subschema : control"
                [nzStatus]="subschema.status ?? schema.active === index ? 'process' : 'wait'"></nz-step>
            </ng-container>
          </nz-steps>

          <ng-container *ngFor="let stepSchema of schema.schemas; index as stepIndex">
            <div
              nz-row
              [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
              [hidden]="schema.active !== stepIndex"
              [style.margin-top.px]="16">
              <ng-container *ngFor="let subschema of stepSchema.schemas">
                <ng-container
                  [ngTemplateOutlet]="formItemTemplate"
                  [ngTemplateOutletContext]="{ control: (subschema.name | control: form) ?? form, schema: subschema, model: model }">
                </ng-container>
              </ng-container>
            </div>
          </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'tabset'">
          <nz-tabset
            #cmp
            [fluentBinder]="cmp"
            [fluentBinderSchema]="schema"
            [nzSelectedIndex]="schema.active"
            [nzType]="schema.subtype ?? 'line'"
            [nzSize]="schema.size ?? 'default'"
            [nzAnimated]="schema.animate ?? schema.subtype !== 'card'"
            [nzTabPosition]="schema.position ?? 'top'"
            [nzTabBarGutter]="schema.gutter"
            [nzCentered]="schema.center">
            <nz-tab
              *ngFor="let tabSchema of schema.schemas"
              #cmp
              [fluentBinder]="cmp"
              [fluentBinderSchema]="tabSchema"
              [ngClass]="tabSchema.class"
              [nzTitle]="tabSchema.title"
              [nzDisabled]="tabSchema.disabled | call: model : tabSchema : control">
              <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                <ng-container *ngFor="let subschema of tabSchema.schemas">
                  <ng-container
                    [ngTemplateOutlet]="formItemTemplate"
                    [ngTemplateOutletContext]="{ control: (subschema.name | control: form) ?? form, schema: subschema, model: model }">
                  </ng-container>
                </ng-container>
              </div>
            </nz-tab>
          </nz-tabset>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <nz-form-item>
            <ng-container *ngIf="schema.label">
              <nz-form-label
                [nzSpan]="schema.label.span"
                [nzTooltipTitle]="schema.label.tooltip?.title ?? schema.label.tooltip"
                [nzTooltipIcon]="schema.label.tooltip?.icon"
                [nzFor]="schema.id"
                [nzRequired]="schema.required | call: model : schema : control">
                {{ schema.label.value ?? schema.label }}
              </nz-form-label>
            </ng-container>
            <!-- 在控件被 input-group 包裹的时候，控件状态/提示默认使用的是 input-group 里的第一个控件 -->
            <!-- 如果需要采用 input-group 内其他控件的状态/提示，需要使用 input-group 的 primary 参数明确指定 -->
            <nz-form-control
              *ngIf="(schema.type === 'input-group' ? (schema.primary | schema: schema.schemas) ?? {} : schema) as currentSchema"
              [nzValidateStatus]="schema.type === 'input-group' ? (schema.primary | control: control) : control"
              [nzHasFeedback]="currentSchema.feedback"
              [nzValidatingTip]="currentSchema.tips?.validating"
              [nzSuccessTip]="currentSchema.tips?.success"
              [nzWarningTip]="currentSchema.tips?.warning"
              [nzErrorTip]="currentSchema.tips?.error"
              [nzExtra]="currentSchema.tips?.extra"
              [nzAutoTips]="currentSchema.tips?.auto ?? {}">
              <!-- 表单控件 -->
              <!-- 在 nz-form-control 中的表单控件组件通常需要注入 nz-form-control 提供的一些资源； -->
              <!-- 由于 angular 是 DI 是静态的，在编译期间会进行静态分析，这里需要将表单控件模板直接写在 nz-form-control 内， -->
              <!-- 否则 angular 无法分析出这些表单控件的父级组件，也就没办法注入 nz-form-control 中提供的资源。 -->
              <ng-container [ngSwitch]="schema.type">
                <ng-container *ngSwitchCase="'input'">
                  <ng-container *ngIf="schema.autocomplete as autocomplete">
                    <input
                      nz-input
                      [attr.id]="schema.id"
                      [attr.maxlength]="schema.length ?? schema.length?.max"
                      [attr.minlength]="schema.length ?? schema.length?.min"
                      [fluentBinderSchema]="schema"
                      [fluentBinderControl]="control"
                      [formControl]="control"
                      [nzAutocomplete]="autocompleteCmp"
                      [placeholder]="schema.placeholder ?? ''"
                      [type]="schema.subtype ?? 'text'"
                      [autofocus]="schema.focus"
                      [readonly]="schema.readonly | call: model : schema : control"
                      [nzSize]="schema.size"
                      [nzBorderless]="schema.borderless">
                    <nz-autocomplete
                      #autocompleteCmp
                      [compareWith]="autocomplete.compare"
                      [nzBackfill]="autocomplete.backfill"
                      [nzDataSource]="autocomplete.options"
                      [nzWidth]="autocomplete.width"></nz-autocomplete>
                  </ng-container>
                  <input
                    *ngIf="!schema.autocomplete"
                    nz-input
                    [attr.id]="schema.id"
                    [attr.maxlength]="schema.length ?? schema.length?.max"
                    [attr.minlength]="schema.length ?? schema.length?.min"
                    [fluentBinderSchema]="schema"
                    [fluentBinderControl]="control"
                    [formControl]="control"
                    [placeholder]="schema.placeholder ?? ''"
                    [type]="schema.subtype ?? 'text'"
                    [autofocus]="schema.focus"
                    [readonly]="schema.readonly | call: model : schema : control"
                    [nzSize]="schema.size"
                    [nzBorderless]="schema.borderless">
                </ng-container>

                <ng-container *ngSwitchCase="'textarea'">
                  <ng-container *ngIf="schema.autocomplete as autocomplete">
                    <textarea
                      nz-input
                      [attr.id]="schema.id"
                      [attr.maxlength]="schema.length ?? schema.length?.max"
                      [attr.minlength]="schema.length ?? schema.length?.min"
                      [fluentBinderSchema]="schema"
                      [fluentBinderControl]="control"
                      [formControl]="control"
                      [nzAutocomplete]="autocompleteCmp"
                      [nzAutosize]="schema.autosize ?? {}"
                      [placeholder]="schema.placeholder ?? ''"
                      [rows]="schema.rows"
                      [autofocus]="schema.focus"
                      [readonly]="schema.readonly | call: model : schema : control"
                      [nzSize]="schema.size"
                      [nzBorderless]="schema.borderless"></textarea>
                    <nz-autocomplete
                      #autocompleteCmp
                      [compareWith]="autocomplete.compare"
                      [nzBackfill]="autocomplete.backfill"
                      [nzDataSource]="autocomplete.options"
                      [nzWidth]="autocomplete.width"></nz-autocomplete>
                  </ng-container>
                  <textarea
                    *ngIf="!schema.autocomplete"
                    nz-input
                    [attr.id]="schema.id"
                    [attr.maxlength]="schema.length ?? schema.length?.max"
                    [attr.minlength]="schema.length ?? schema.length?.min"
                    [fluentBinderSchema]="schema"
                    [fluentBinderControl]="control"
                    [formControl]="control"
                    [nzAutosize]="schema.autosize ?? {}"
                    [placeholder]="schema.placeholder ?? ''"
                    [rows]="schema.rows"
                    [autofocus]="schema.focus"
                    [readonly]="schema.readonly | call: model : schema : control"
                    [nzSize]="schema.size"
                    [nzBorderless]="schema.borderless"></textarea>
                </ng-container>

                <ng-container *ngSwitchCase="'number'">
                  <nz-input-number
                    #cmp
                    [fluentBinder]="cmp"
                    [fluentBinderSchema]="schema"
                    [fluentBinderControl]="control"
                    [formControl]="control"
                    [nzId]="schema.id"
                    [nzMax]="schema.max ?? infinity"
                    [nzMin]="schema.min ?? -infinity"
                    [nzPlaceHolder]="schema.placeholder ?? ''"
                    [nzPrecision]="schema.precision?.value ?? (schema.precision | typeof: 'number') ? schema.precision : ''"
                    [nzPrecisionMode]="schema.precision?.mode"
                    [nzStep]="schema.step ?? 1"
                    [nzAutoFocus]="schema.focus"
                    [nzReadOnly]="schema.readonly | call: model : schema : control"
                    [nzSize]="schema.size"
                    [nzBorderless]="schema.borderless">
                  </nz-input-number>
                </ng-container>

                <ng-container *ngSwitchCase="'date'">
                  <nz-date-picker
                    #cmp
                    [fluentBinder]="cmp"
                    [fluentBinderSchema]="schema"
                    [fluentBinderControl]="control"
                    [formControl]="control"
                    [nzAllowClear]="schema.clearable"
                    [nzFormat]="schema.format"
                    [nzId]="schema.id"
                    [nzInline]="schema.inline"
                    [nzMode]="schema.mode"
                    [nzPlaceHolder]="schema.placeholder"
                    [nzShowTime]="schema.time"
                    [nzBackdrop]="schema.backdrop"
                    [nzPlacement]="schema.placement ?? 'bottomLeft'"
                    [nzSuffixIcon]="schema.suffixIcon ?? 'calendar'"
                    [nzAutoFocus]="schema.focus"
                    [nzInputReadOnly]="schema.readonly | call: model : schema : control"
                    [nzSize]="schema.size"
                    [nzBorderless]="schema.borderless"
                    [nzShowToday]="schema.today ?? true"
                    [nzShowNow]="schema.now ?? true">
                  </nz-date-picker>
                </ng-container>

                <ng-container *ngSwitchCase="'range'">
                  <nz-range-picker
                    #cmp
                    [fluentBinder]="cmp"
                    [fluentBinderSchema]="schema"
                    [fluentBinderControl]="control"
                    [formControl]="control"
                    [nzAllowClear]="schema.clearable"
                    [nzFormat]="schema.format"
                    [nzId]="schema.id"
                    [nzInline]="schema.inline"
                    [nzMode]="schema.mode"
                    [nzPlaceHolder]="schema.placeholder"
                    [nzShowTime]="schema.time"
                    [nzShowTime]="schema.time"
                    [nzBackdrop]="schema.backdrop"
                    [nzPlacement]="schema.placement ?? 'bottomLeft'"
                    [nzSuffixIcon]="schema.suffixIcon ?? 'calendar'"
                    [nzAutoFocus]="schema.focus"
                    [nzInputReadOnly]="schema.readonly | call: model : schema : control"
                    [nzSize]="schema.size"
                    [nzBorderless]="schema.borderless"
                    [nzShowToday]="schema.today ?? true"
                    [nzShowNow]="schema.now ?? true"
                    [nzSeparator]="schema.separator">
                  </nz-range-picker>
                </ng-container>

                <ng-container *ngSwitchCase="'time'">
                  <nz-time-picker
                    #cmp
                    [fluentBinder]="cmp"
                    [fluentBinderSchema]="schema"
                    [fluentBinderControl]="control"
                    [formControl]="control"
                    [nzAllowEmpty]="schema.clearable"
                    [nzFormat]="schema.format ?? 'HH:mm:ss'"
                    [nzHourStep]="schema.step?.hour"
                    [nzId]="schema.id"
                    [nzMinuteStep]="schema.step?.minute"
                    [nzPlaceHolder]="schema.placeholder"
                    [nzSecondStep]="schema.step?.second"
                    [nzAutoFocus]="schema.focus"
                    [nzSize]="schema.size"
                    [nzBorderless]="schema.borderless"
                    [nzBackdrop]="schema.backdrop"
                    [nzSuffixIcon]="schema.suffixIcon ?? 'clock-circle'">
                  </nz-time-picker>
                </ng-container>

                <ng-container *ngSwitchCase="'switch'">
                  <nz-switch
                    #cmp
                    [nzId]="schema.id"
                    [fluentBinder]="cmp"
                    [fluentBinderSchema]="schema"
                    [fluentBinderControl]="control"
                    [formControl]="control"
                    [nzCheckedChildren]="schema.placeholder?.[0]"
                    [nzUnCheckedChildren]="schema.placeholder?.[1]"
                    [nzSize]="schema.size">
                  </nz-switch>
                </ng-container>

                <ng-container *ngSwitchCase="'select'">
                  <nz-select
                    #cmp
                    [fluentBinder]="cmp"
                    [fluentBinderSchema]="schema"
                    [fluentBinderControl]="control"
                    [formControl]="control"
                    [nzAllowClear]="schema.clearable"
                    [nzId]="schema.id"
                    [nzMaxMultipleCount]="schema.limit ?? infinity"
                    [nzMode]="schema.mode ?? 'default'"
                    [nzPlaceHolder]="schema.placeholder"
                    [nzShowSearch]="schema.searchable"
                    [nzBackdrop]="schema.backdrop"
                    [nzBorderless]="schema.borderless"
                    [nzAutoFocus]="schema.focus"
                    [nzShowArrow]="schema.arrow ?? (!schema.mode || schema.mode === 'default')"
                    [nzSize]="schema.size"
                    [nzSuffixIcon]="schema.suffixIcon">
                    <nz-option
                      *ngFor="let option of schema.options"
                      [nzDisabled]="option[schema.config?.disabledProperty ?? 'disabled']"
                      [nzLabel]="option[schema.config?.labelProperty ?? 'label']"
                      [nzValue]="option[schema.config?.valueProperty ?? 'value']">
                    </nz-option>
                  </nz-select>
                </ng-container>

                <ng-container *ngSwitchCase="'cascader'">
                  <nz-cascader
                    #cmp
                    [fluentBinder]="cmp"
                    [fluentBinderSchema]="schema"
                    [fluentBinderControl]="control"
                    [formControl]="control"
                    [nzAllowClear]="schema.clearable ?? true"
                    [nzAutoFocus]="schema.focus"
                    [nzBackdrop]="schema.backdrop"
                    [nzExpandIcon]="schema.expandIcon ?? ''"
                    [nzExpandTrigger]="schema.trigger"
                    [nzLabelProperty]="schema.config?.labelProperty ?? 'label'"
                    [nzLoadData]="schema.loadData"
                    [nzOptions]="schema.options"
                    [nzPlaceHolder]="schema.placeholder ?? ' '"
                    [nzShowArrow]="schema.arrow ?? true"
                    [nzShowSearch]="schema.searchable"
                    [nzSize]="schema.size"
                    [nzSuffixIcon]="schema.suffixIcon ?? 'down'"
                    [nzValueProperty]="schema.config?.valueProperty ?? 'value'">
                  </nz-cascader>
                </ng-container>

                <ng-container *ngSwitchCase="'tree-select'">
                  <nz-tree-select
                    #cmp
                    [nzId]="schema.id"
                    [fluentBinder]="cmp"
                    [fluentBinderSchema]="schema"
                    [fluentBinderControl]="control"
                    [formControl]="control"
                    [nzAllowClear]="schema.clearable ?? true"
                    [nzBackdrop]="schema.backdrop"
                    [nzShowIcon]="schema.icon"
                    [nzShowSearch]="schema.searchable"
                    [nzSize]="schema.size"
                    [nzCheckable]="schema.checkable"
                    [nzCheckStrictly]="schema.checkable?.strict"
                    [nzShowExpand]="schema.expandIcon ?? true"
                    [nzExpandedIcon]="schema.expandIcon"
                    [nzShowLine]="schema.line"
                    [nzAsyncData]="schema.async"
                    [nzNodes]="schema.options"
                    [nzDefaultExpandAll]="schema.expandAll"
                    [nzExpandedKeys]="schema.expandedKeys"
                    [nzMultiple]="schema.multiple"
                    [nzVirtualHeight]="schema.virtual?.height"
                    [nzVirtualItemSize]="schema.virtual?.itemSize ?? 28"
                    [nzVirtualMaxBufferPx]="schema.virtual?.maxBufferPx ?? 500"
                    [nzVirtualMinBufferPx]="schema.virtual?.minBufferPx ?? 28"></nz-tree-select>
                </ng-container>

                <ng-container *ngSwitchCase="'slider'">
                  <nz-slider
                    #cmp
                    [fluentBinder]="cmp"
                    [fluentBinderSchema]="schema"
                    [fluentBinderControl]="control"
                    [formControl]="control"
                    [nzIncluded]="schema.included ?? true"
                    [nzMax]="schema.max ?? 100"
                    [nzMin]="schema.min"
                    [nzRange]="schema.range"
                    [nzStep]="schema.step ?? 1"
                    [nzDots]="schema.dots"
                    [nzVertical]="schema.vertical"
                    [nzReverse]="schema.reverse">
                  </nz-slider>
                </ng-container>

                <ng-container *ngSwitchCase="'radio'">
                  <nz-radio-group
                    #cmp
                    [fluentBinder]="cmp"
                    [fluentBinderSchema]="schema"
                    [fluentBinderControl]="control"
                    [formControl]="control"
                    [nzButtonStyle]="schema.style"
                    [nzSize]="schema.size">
                    <ng-container *ngFor="let option of schema.options">
                      <label
                        *ngIf="!schema.style"
                        nz-radio
                        [nzValue]="option[schema.config?.valueProperty ?? 'value']">
                        {{ option[schema.config?.labelProperty ?? 'label'] }}
                      </label>
                      <label
                        *ngIf="schema.style"
                        nz-radio-button
                        [nzValue]="option[schema.config?.valueProperty ?? 'value']">
                        {{ option[schema.config?.labelProperty ?? 'label'] }}
                      </label>
                    </ng-container>
                  </nz-radio-group>
                </ng-container>

                <ng-container *ngSwitchCase="'checkbox'">
                  <label
                    #cmp
                    nz-checkbox
                    [fluentBinder]="cmp"
                    [fluentBinderSchema]="schema"
                    [fluentBinderControl]="control"
                    [formControl]="control"
                    [nzId]="schema.id"
                    [nzAutoFocus]="schema.focus"
                    [nzIndeterminate]="schema.indeterminate">{{ schema.content }}</label>
                </ng-container>

                <ng-container *ngSwitchCase="'checkbox-group'">
                  <nz-checkbox-group
                    #cmp
                    [fluentBinder]="cmp"
                    [fluentBinderSchema]="schema"
                    [fluentBinderControl]="control"
                    [formControl]="control">
                  </nz-checkbox-group>
                </ng-container>

                <ng-container *ngSwitchCase="'rate'">
                  <nz-rate
                    #cmp
                    [fluentBinder]="cmp"
                    [fluentBinderSchema]="schema"
                    [fluentBinderControl]="control"
                    [formControl]="control"
                    [nzAllowClear]="schema.clearable ?? true"
                    [nzAllowHalf]="schema.half"
                    [nzCharacter]="schema.character"
                    [nzCount]="schema.count ?? 5"
                    [nzTooltips]="schema.tooltips ?? []"
                    [nzAutoFocus]="schema.focus"></nz-rate>
                </ng-container>

                <ng-container *ngSwitchCase="'input-group'">
                  <nz-input-group
                    #cmp
                    nzCompact
                    [fluentBinder]="cmp"
                    [fluentBinderSchema]="schema"
                    [nzAddOnAfter]="schema.after?.icon ? null : schema.after"
                    [nzAddOnAfterIcon]="schema.after?.icon"
                    [nzAddOnBefore]="schema.before?.icon ? null : schema.before"
                    [nzAddOnBeforeIcon]="schema.before?.icon"
                    [nzPrefix]="schema.prefix?.icon ? null : schema.prefix"
                    [nzPrefixIcon]="schema.prefix?.icon"
                    [nzSize]="schema.size"
                    [nzSuffix]="schema.suffix?.icon ? null : schema.suffix"
                    [nzSuffixIcon]="schema.suffix?.icon">
                    <ng-container *ngFor="let subschema of schema.schemas">
                      <!-- 可组合的控件 -->
                      <!-- 这时候的 control 其实是父级的 control，需要通过 control pipe 来获取到实际的控件实例 -->
                      <ng-container *ngIf="(subschema.name | control: control : 'control') as subcontrol">
                        <ng-container
                          *ngIf="!(subschema.hidden | call: model : subschema : control)"
                          [ngSwitch]="subschema.type">
                          <ng-container *ngSwitchCase="'input'">
                            <ng-container *ngIf="subschema.autocomplete as autocomplete">
                              <input
                                nz-col
                                nz-input
                                [attr.id]="subschema.id"
                                [attr.maxlength]="subschema.length ?? subschema.length?.max"
                                [attr.minlength]="subschema.length ?? subschema.length?.min"
                                [fluentBinderSchema]="subschema"
                                [fluentBinderControl]="subcontrol"
                                [formControl]="subcontrol"
                                [ngClass]="subschema.class"
                                [nzAutocomplete]="autocompleteCmp"
                                [nzFlex]="subschema.flex"
                                [nzOffset]="subschema.offset"
                                [nzSpan]="subschema.span ?? null"
                                [placeholder]="subschema.placeholder ?? ''"
                                [type]="subschema.subtype ?? 'text'"
                                [autofocus]="subschema.focus"
                                [readonly]="subschema.readonly | call: model : subschema : subcontrol"
                                [nzSize]="subschema.size"
                                [nzBorderless]="subschema.borderless">
                              <nz-autocomplete
                                #autocompleteCmp
                                [compareWith]="autocomplete.compare"
                                [nzBackfill]="autocomplete.backfill"
                                [nzDataSource]="autocomplete.options"
                                [nzWidth]="autocomplete.width"></nz-autocomplete>
                            </ng-container>
                            <input
                              *ngIf="!subschema.autocomplete"
                              nz-col
                              nz-input
                              [attr.id]="subschema.id"
                              [attr.maxlength]="subschema.length ?? subschema.length?.max"
                              [attr.minlength]="subschema.length ?? subschema.length?.min"
                              [fluentBinderSchema]="subschema"
                              [fluentBinderControl]="subcontrol"
                              [formControl]="subcontrol"
                              [ngClass]="subschema.class"
                              [nzFlex]="subschema.flex"
                              [nzOffset]="subschema.offset"
                              [nzSpan]="subschema.span ?? null"
                              [placeholder]="subschema.placeholder ?? ''"
                              [type]="subschema.subtype ?? 'text'"
                              [autofocus]="subschema.focus"
                              [readonly]="subschema.readonly | call: model : subschema : subcontrol"
                              [nzSize]="subschema.size"
                              [nzBorderless]="subschema.borderless">
                          </ng-container>

                          <ng-container *ngSwitchCase="'textarea'">
                            <ng-container *ngIf="subschema.autocomplete as autocomplete">
                              <textarea
                                nz-col
                                nz-input
                                [attr.id]="subschema.id"
                                [attr.maxlength]="subschema.length ?? subschema.length?.max"
                                [attr.minlength]="subschema.length ?? subschema.length?.min"
                                [fluentBinderSchema]="subschema"
                                [fluentBinderControl]="subcontrol"
                                [formControl]="subcontrol"
                                [ngClass]="subschema.class"
                                [nzAutocomplete]="autocompleteCmp"
                                [nzAutosize]="subschema.autosize ?? {}"
                                [nzFlex]="subschema.flex"
                                [nzOffset]="subschema.offset"
                                [nzSpan]="subschema.span ?? null"
                                [placeholder]="subschema.placeholder ?? ''"
                                [rows]="subschema.rows"
                                [autofocus]="subschema.focus"
                                [readonly]="subschema.readonly | call: model : subschema : subcontrol"
                                [nzSize]="subschema.size"
                                [nzBorderless]="subschema.borderless"></textarea>
                              <nz-autocomplete
                                #autocompleteCmp
                                [compareWith]="autocomplete.compare"
                                [nzBackfill]="autocomplete.backfill"
                                [nzDataSource]="autocomplete.options"
                                [nzWidth]="autocomplete.width"></nz-autocomplete>
                            </ng-container>
                            <textarea
                              *ngIf="!subschema.autocomplete"
                              nz-col
                              nz-input
                              [attr.id]="subschema.id"
                              [attr.maxlength]="subschema.length ?? subschema.length?.max"
                              [attr.minlength]="subschema.length ?? subschema.length?.min"
                              [fluentBinderSchema]="subschema"
                              [fluentBinderControl]="subcontrol"
                              [formControl]="subcontrol"
                              [ngClass]="subschema.class"
                              [nzAutosize]="subschema.autosize ?? {}"
                              [nzFlex]="subschema.flex"
                              [nzOffset]="subschema.offset"
                              [nzSpan]="subschema.span ?? null"
                              [placeholder]="subschema.placeholder ?? ''"
                              [rows]="subschema.rows"
                              [autofocus]="subschema.focus"
                              [readonly]="subschema.readonly | call: model : subschema : subcontrol"
                              [nzSize]="subschema.size"
                              [nzBorderless]="subschema.borderless"></textarea>
                          </ng-container>

                          <ng-container *ngSwitchCase="'number'">
                            <nz-input-number
                              #cmp
                              nz-col
                              [fluentBinder]="cmp"
                              [fluentBinderSchema]="subschema"
                              [fluentBinderControl]="subcontrol"
                              [formControl]="subcontrol"
                              [ngClass]="subschema.class"
                              [nzFlex]="subschema.flex"
                              [nzId]="subschema.id"
                              [nzMax]="subschema.max ?? infinity"
                              [nzMin]="subschema.min ?? -infinity"
                              [nzOffset]="subschema.offset"
                              [nzPlaceHolder]="subschema.placeholder ?? ''"
                              [nzPrecision]="subschema.precision ?? ''"
                              [nzPrecisionMode]="subschema.precisionMode"
                              [nzSpan]="subschema.span ?? null"
                              [nzStep]="subschema.step ?? 1"
                              [nzAutoFocus]="subschema.focus"
                              [nzReadOnly]="subschema.readonly | call: model : subschema : subcontrol"
                              [nzSize]="subschema.size"
                              [nzBorderless]="subschema.borderless">
                            </nz-input-number>
                          </ng-container>

                          <ng-container *ngSwitchCase="'date'">
                            <nz-date-picker
                              #cmp
                              nz-col
                              [fluentBinder]="cmp"
                              [fluentBinderSchema]="subschema"
                              [fluentBinderControl]="subcontrol"
                              [formControl]="subcontrol"
                              [ngClass]="subschema.class"
                              [nzAllowClear]="subschema.clearable"
                              [nzFlex]="subschema.flex"
                              [nzFormat]="subschema.format"
                              [nzId]="subschema.id"
                              [nzInline]="subschema.inline"
                              [nzMode]="subschema.mode"
                              [nzOffset]="subschema.offset"
                              [nzPlaceHolder]="subschema.placeholder"
                              [nzShowTime]="subschema.time"
                              [nzSpan]="subschema.span ?? null"
                              [nzShowTime]="subschema.time"
                              [nzBackdrop]="subschema.backdrop"
                              [nzPlacement]="subschema.placement ?? 'bottomLeft'"
                              [nzSuffixIcon]="subschema.suffixIcon ?? 'calendar'"
                              [nzAutoFocus]="subschema.focus"
                              [nzInputReadOnly]="subschema.readonly | call: model : subschema : subcontrol"
                              [nzSize]="subschema.size"
                              [nzBorderless]="subschema.borderless"
                              [nzShowToday]="subschema.today ?? true"
                              [nzShowNow]="subschema.now ?? true"></nz-date-picker>
                          </ng-container>

                          <ng-container *ngSwitchCase="'range'">
                            <nz-range-picker
                              #cmp
                              nz-col
                              [fluentBinder]="cmp"
                              [fluentBinderSchema]="subschema"
                              [fluentBinderControl]="subcontrol"
                              [formControl]="subcontrol"
                              [ngClass]="subschema.class"
                              [nzAllowClear]="subschema.clearable"
                              [nzFlex]="subschema.flex"
                              [nzFormat]="subschema.format"
                              [nzId]="subschema.id"
                              [nzInline]="subschema.inline"
                              [nzMode]="subschema.mode"
                              [nzOffset]="subschema.offset"
                              [nzPlaceHolder]="subschema.placeholder"
                              [nzShowTime]="subschema.time"
                              [nzSpan]="subschema.span ?? null"
                              [nzShowTime]="subschema.time"
                              [nzBackdrop]="subschema.backdrop"
                              [nzPlacement]="subschema.placement ?? 'bottomLeft'"
                              [nzSuffixIcon]="subschema.suffixIcon ?? 'calendar'"
                              [nzAutoFocus]="subschema.focus"
                              [nzInputReadOnly]="subschema.readonly | call: model : subschema : subcontrol"
                              [nzSize]="subschema.size"
                              [nzBorderless]="subschema.borderless"
                              [nzShowToday]="subschema.today ?? true"
                              [nzShowNow]="subschema.now ?? true"
                              [nzSeparator]="subschema.separator"></nz-range-picker>
                          </ng-container>

                          <ng-container *ngSwitchCase="'time'">
                            <nz-time-picker
                              #cmp
                              nz-col
                              [fluentBinder]="cmp"
                              [fluentBinderSchema]="subschema"
                              [fluentBinderControl]="subcontrol"
                              [formControl]="subcontrol"
                              [ngClass]="subschema.class"
                              [nzAllowEmpty]="subschema.clearable"
                              [nzFlex]="subschema.flex"
                              [nzFormat]="subschema.format ?? 'HH:mm:ss'"
                              [nzHourStep]="subschema.step?.hour"
                              [nzId]="subschema.id"
                              [nzMinuteStep]="subschema.step?.minute"
                              [nzOffset]="subschema.offset"
                              [nzPlaceHolder]="subschema.placeholder"
                              [nzSecondStep]="subschema.step?.second"
                              [nzSpan]="subschema.span ?? null"
                              [nzAutoFocus]="subschema.focus"
                              [nzSize]="subschema.size"
                              [nzBorderless]="subschema.borderless"
                              [nzBackdrop]="subschema.backdrop"
                              [nzSuffixIcon]="subschema.suffixIcon ?? 'clock-circle'">
                            </nz-time-picker>
                          </ng-container>

                          <ng-container *ngSwitchCase="'select'">
                            <nz-select
                              #cmp
                              nz-col
                              [fluentBinder]="cmp"
                              [fluentBinderSchema]="subschema"
                              [fluentBinderControl]="subcontrol"
                              [formControl]="subcontrol"
                              [ngClass]="subschema.class"
                              [nzAllowClear]="subschema.clearable"
                              [nzFlex]="subschema.flex"
                              [nzId]="subschema.id"
                              [nzMaxMultipleCount]="subschema.limit ?? infinity"
                              [nzMode]="subschema.mode ?? 'default'"
                              [nzOffset]="subschema.offset"
                              [nzPlaceHolder]="subschema.placeholder"
                              [nzShowSearch]="subschema.searchable"
                              [nzSpan]="subschema.span ?? null"
                              [nzShowSearch]="subschema.searchable"
                              [nzBackdrop]="subschema.backdrop"
                              [nzBorderless]="subschema.borderless"
                              [nzAutoFocus]="subschema.focus"
                              [nzShowArrow]="subschema.arrow ?? (!subschema.mode || subschema.mode === 'default')"
                              [nzSize]="subschema.size"
                              [nzSuffixIcon]="subschema.suffixIcon">
                              <nz-option
                                *ngFor="let option of subschema.options"
                                [nzDisabled]="option[subschema.config?.disabledProperty ?? 'disabled']"
                                [nzLabel]="option[subschema.config?.labelProperty ?? 'label']"
                                [nzValue]="option[subschema.config?.valueProperty ?? 'value']">
                              </nz-option>
                            </nz-select>
                          </ng-container>

                          <ng-container *ngSwitchCase="'cascader'">
                            <nz-cascader
                              #cmp
                              nz-col
                              [fluentBinder]="cmp"
                              [fluentBinderSchema]="subschema"
                              [fluentBinderControl]="subcontrol"
                              [formControl]="subcontrol"
                              [ngClass]="subschema.class"
                              [nzAllowClear]="subschema.clearable ?? true"
                              [nzAutoFocus]="subschema.focus"
                              [nzBackdrop]="subschema.backdrop"
                              [nzExpandIcon]="subschema.expandIcon"
                              [nzExpandTrigger]="subschema.trigger"
                              [nzFlex]="subschema.flex"
                              [nzLabelProperty]="subschema.config?.labelProperty ?? 'label'"
                              [nzLoadData]="subschema.loadData"
                              [nzOffset]="subschema.offset"
                              [nzOptions]="subschema.options"
                              [nzPlaceHolder]="subschema.placeholder ?? ' '"
                              [nzShowArrow]="subschema.arrow ?? true"
                              [nzShowSearch]="subschema.searchable"
                              [nzSize]="subschema.size"
                              [nzSpan]="subschema.span ?? null"
                              [nzSuffixIcon]="subschema.suffixIcon"
                              [nzValueProperty]="subschema.config?.valueProperty ?? 'value'">
                            </nz-cascader>
                          </ng-container>

                          <ng-container *ngSwitchCase="'tree-select'">
                            <nz-tree-select
                              #cmp
                              nz-col
                              [nzId]="subschema.id"
                              [fluentBinder]="cmp"
                              [fluentBinderSchema]="subschema"
                              [fluentBinderControl]="subcontrol"
                              [formControl]="subcontrol"
                              [ngClass]="subschema.class"
                              [nzAllowClear]="subschema.clearable ?? true"
                              [nzBackdrop]="subschema.backdrop"
                              [nzShowIcon]="subschema.icon"
                              [nzShowSearch]="subschema.searchable"
                              [nzSize]="subschema.size"
                              [nzCheckable]="subschema.checkable"
                              [nzCheckStrictly]="subschema.checkable?.strict"
                              [nzShowExpand]="subschema.expandIcon ?? true"
                              [nzExpandedIcon]="subschema.expandIcon"
                              [nzShowLine]="subschema.line"
                              [nzAsyncData]="subschema.async"
                              [nzNodes]="subschema.options"
                              [nzDefaultExpandAll]="subschema.expandAll"
                              [nzExpandedKeys]="subschema.expandedKeys"
                              [nzMultiple]="subschema.multiple"
                              [nzVirtualHeight]="subschema.virtual?.height"
                              [nzVirtualItemSize]="subschema.virtual?.itemSize ?? 28"
                              [nzVirtualMaxBufferPx]="subschema.virtual?.maxBufferPx ?? 500"
                              [nzVirtualMinBufferPx]="subschema.virtual?.minBufferPx ?? 28"
                              [nzSpan]="subschema.span ?? null"
                              [nzFlex]="subschema.flex"
                              [nzOffset]="subschema.offset"></nz-tree-select>
                          </ng-container>

                          <ng-container *ngSwitchCase="'button'">
                            <ng-container *ngIf="subschema.subtype ===  'link'">
                              <a
                                nz-button
                                nz-col
                                [attr.id]="subschema.id"
                                [disabled]="subschema.disabled"
                                [fluentBinderSchema]="subschema"
                                [ngClass]="subschema.class"
                                [nzBlock]="subschema.block"
                                [nzDanger]="subschema.danger"
                                [nzFlex]="subschema.flex"
                                [nzGhost]="subschema.ghost"
                                [nzLoading]="subschema.loading"
                                [nzOffset]="subschema.offset"
                                [nzShape]="subschema.shape"
                                [nzSize]="subschema.size"
                                [nzSpan]="subschema.span ?? null"
                                [nzType]="subschema.subtype"
                                [type]="subschema.mode">
                                <i
                                  *ngIf="subschema.icon"
                                  nz-icon
                                  [nzRotate]="subschema.icon.rotate"
                                  [nzSpin]="subschema.icon.spin"
                                  [nzTheme]="subschema.icon.theme"
                                  [nzType]="subschema.icon.type ?? subschema.icon"></i>
                                <ng-container *nzStringTemplateOutlet="subschema.content">{{ subschema.content }}</ng-container>
                              </a>
                            </ng-container>
                            <ng-container *ngIf="subschema.subtype !==  'link'">
                              <button
                                nz-button
                                nz-col
                                [attr.id]="subschema.id"
                                [disabled]="subschema.disabled"
                                [fluentBinderSchema]="subschema"
                                [ngClass]="subschema.class"
                                [nzBlock]="subschema.block"
                                [nzDanger]="subschema.danger"
                                [nzFlex]="subschema.flex"
                                [nzGhost]="subschema.ghost"
                                [nzLoading]="subschema.loading"
                                [nzOffset]="subschema.offset"
                                [nzShape]="subschema.shape"
                                [nzSize]="subschema.size"
                                [nzSpan]="subschema.span ?? null"
                                [nzType]="subschema.subtype"
                                [type]="subschema.mode">
                                <i
                                  *ngIf="subschema.icon"
                                  nz-icon
                                  [nzRotate]="subschema.icon.rotate"
                                  [nzSpin]="subschema.icon.spin"
                                  [nzTheme]="subschema.icon.theme"
                                  [nzType]="subschema.icon.type ?? subschema.icon"></i>
                                <ng-container *nzStringTemplateOutlet="subschema.content">{{ subschema.content }}</ng-container>
                              </button>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                      <!-- 可组合的控件 -->
                    </ng-container>
                  </nz-input-group>
                </ng-container>

                <ng-container *ngSwitchCase="'button-group'">
                  <nz-button-group
                    #cmp
                    [fluentBinder]="cmp"
                    [fluentBinderSchema]="schema"
                    [nzSize]="schema.size">
                    <ng-container *ngFor="let subschema of schema.schemas">
                      <ng-container *ngTemplateOutlet="componentTemplate; context: { schema: subschema, model: model }">
                      </ng-container>
                    </ng-container>
                  </nz-button-group>
                </ng-container>

                <ng-container *ngSwitchCase="'button'">
                  <ng-container *ngIf="schema.subtype ===  'link'">
                    <a
                      *ngIf="!(schema.hidden | call: model : schema : control)"
                      nz-button
                      [attr.id]="schema.id"
                      [disabled]="schema.disabled | call: model : schema : control"
                      [fluentBinderSchema]="schema"
                      [nzBlock]="schema.block"
                      [nzDanger]="schema.danger | call: model : schema : control"
                      [nzGhost]="schema.ghost | call: model : schema : control"
                      [nzLoading]="schema.loading | call: model : schema : control"
                      [nzShape]="schema.shape"
                      [nzSize]="schema.size"
                      [nzType]="schema.subtype"
                      [type]="schema.mode">
                      <i
                        *ngIf="schema.icon"
                        nz-icon
                        [nzRotate]="schema.icon.rotate"
                        [nzSpin]="schema.icon.spin"
                        [nzTheme]="schema.icon.theme"
                        [nzType]="schema.icon.type ?? schema.icon"></i>
                      <ng-container *nzStringTemplateOutlet="schema.content">{{ schema.content }}</ng-container>
                    </a>
                  </ng-container>
                  <ng-container *ngIf="schema.subtype !==  'link'">
                    <button
                      *ngIf="!(schema.hidden | call: model : schema : control)"
                      nz-button
                      [attr.id]="schema.id"
                      [disabled]="schema.disabled | call: model : schema : control"
                      [fluentBinderSchema]="schema"
                      [nzBlock]="schema.block"
                      [nzDanger]="schema.danger | call: model : schema : control"
                      [nzGhost]="schema.ghost | call: model : schema : control"
                      [nzLoading]="schema.loading | call: model : schema : control"
                      [nzShape]="schema.shape"
                      [nzSize]="schema.size"
                      [nzType]="schema.subtype"
                      [type]="schema.mode">
                      <i
                        *ngIf="schema.icon"
                        nz-icon
                        [nzRotate]="schema.icon.rotate"
                        [nzSpin]="schema.icon.spin"
                        [nzTheme]="schema.icon.theme"
                        [nzType]="schema.icon.type ?? schema.icon"></i>
                      <ng-container *nzStringTemplateOutlet="schema.content">{{ schema.content }}</ng-container>
                    </button>
                  </ng-container>
                </ng-container>
              </ng-container>
              <!-- 表单控件 -->
            </nz-form-control>
          </nz-form-item>
        </ng-container>
      </div>
    </ng-template>

    <ng-container *ngFor="let schema of schemas">
      <ng-container
        [ngTemplateOutlet]="formItemTemplate"
        [ngTemplateOutletContext]="{ control: (schema.name | control: form) ?? form, schema: schema, model: model }">
        <!-- 当获取不到对应的控件实例时，通常说明当前的 schema 不是一个 control schema，☝️这里直接返回父级表单实例 -->
      </ng-container>
    </ng-container>
  </form>
</ng-template>
