<nz-spin *ngIf="form" [nzTip]="spinTip" [nzSpinning]="spinning" [nzSize]="spinSize">
  <ng-container *ngTemplateOutlet="formTemplate; context: { form, schemas, model }"></ng-container>
</nz-spin>

<!-- 表单模板 -->
<!-- @param schema 当前图示 -->
<!-- @param form   当前表单 -->
<!-- @param model  当前模型 -->
<ng-template #formTemplate let-form="form" let-schemas="schemas" let-model="model">
  <form
    nz-row
    nz-form
    [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
    [nzLayout]="layout"
    [nzNoColon]="!colon"
    [formGroup]="form">

    <!-- 表单项模板 -->
    <!-- @param schema  当前图示 -->
    <!-- @param control 当前控件 -->
    <!-- @param model   当前模型 -->
    <ng-template #formItemTemplate let-schema="schema" let-control="control" let-model="model">
      <div
        nz-col
        [nzSpan]="schema.span ?? null"
        [nzOffset]="schema.offset"
        [nzFlex]="schema.flex"
        [ngSwitch]="schema.type"
        [hidden]="schema.hidden | call: model : schema : control">
        <ng-container *ngSwitchCase="'group'">
          <nz-divider *ngIf="schema.label" [nzText]="schema.label"></nz-divider>
          <ng-container
            [ngTemplateOutlet]="formTemplate"
            [ngTemplateOutletContext]="{ form: control, schemas: schema.schemas, model: model[schema.name] }">
          </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'array'">
          <nz-divider *ngIf="schema.label" [nzText]="schema.label"></nz-divider>
          <ng-container
            [ngTemplateOutlet]="formTemplate"
            [ngTemplateOutletContext]="{ form: control, schemas: schema.schemas, model: model[schema.name] }">
          </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'steps'">
          <nz-steps
            [nzType]="schema.subtype"
            [nzCurrent]="schema.active ?? 0"
            [nzLabelPlacement]="schema.placement"
            [nzProgressDot]="schema.dot"
            [nzSize]="schema.size"
            [nzStatus]="schema.status ?? 'process'"
            [nzStartIndex]="schema.start ?? 0"
            (nzIndexChange)="schema.active = $event">
            <ng-container *ngFor="let subschema of schema.schemas; index as index">
              <nz-step
                [nzTitle]="subschema.title"
                [nzSubtitle]="subschema.subtitle"
                [nzDescription]="subschema.description"
                [nzDisabled]="subschema.disabled | call: model : subschema : control"
                [nzStatus]="subschema.status ?? schema.active === index ? 'process' : 'wait'"></nz-step>
            </ng-container>
          </nz-steps>

          <ng-container *ngFor="let stepSchema of schema.schemas; index as stepIndex">
            <div
              nz-row
              [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
              [hidden]="schema.active !== stepIndex"
              [style.margin-top.px]="16">
              <ng-container *ngFor="let subschema of stepSchema.schemas">
                <ng-container
                  [ngTemplateOutlet]="formItemTemplate"
                  [ngTemplateOutletContext]="{ control: (subschema.name | control: form) ?? form, schema: subschema, model: model }">
                </ng-container>
              </ng-container>
            </div>
          </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'tabset'">
          <nz-tabset
            [nzSelectedIndex]="schema.active"
            [nzType]="schema.subtype ?? 'line'"
            [nzSize]="schema.size ?? 'default'"
            [nzAnimated]="schema.animate ?? schema.subtype !== 'card'"
            [nzTabPosition]="schema.position ?? 'top'"
            [nzTabBarGutter]="schema.gutter"
            [nzCentered]="schema.center">
            <nz-tab
              *ngFor="let tabSchema of schema.schemas"
              [nzTitle]="tabSchema.title"
              [nzDisabled]="tabSchema.disabled | call: model : tabSchema : control">
              <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                <ng-container *ngFor="let subschema of tabSchema.schemas">
                  <ng-container
                    [ngTemplateOutlet]="formItemTemplate"
                    [ngTemplateOutletContext]="{ control: (subschema.name | control: form) ?? form, schema: subschema, model: model }">
                  </ng-container>
                </ng-container>
              </div>
            </nz-tab>
          </nz-tabset>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <nz-form-item>
            <ng-container *ngIf="schema.label">
              <nz-form-label
                [nzSpan]="schema.label.span"
                [nzTooltipTitle]="schema.label.tooltip?.title ?? schema.label.tooltip"
                [nzTooltipIcon]="schema.label.tooltip?.icon"
                [nzFor]="schema.id"
                [nzRequired]="schema.required | call: model : schema : control">
                {{ schema.label.value ?? schema.label }}
              </nz-form-label>
            </ng-container>

            <nz-form-control
              [nzHasFeedback]="schema.feedback"
              [nzValidateStatus]="control"
              [nzSuccessTip]="schema.tips?.success"
              [nzWarningTip]="schema.tips?.warning"
              [nzErrorTip]="schema.tips?.error"
              [nzValidatingTip]="schema.tips?.validating"
              [nzExtra]="schema.tips?.extra"
              [nzAutoTips]="schema.tips?.auto ?? {}">
              <ng-container *fluentControlOutlet="control; schema: schema; model: model"></ng-container>
            </nz-form-control>
          </nz-form-item>
        </ng-container>
      </div>
    </ng-template>

    <ng-container *ngFor="let schema of schemas">
      <ng-container
        [ngTemplateOutlet]="formItemTemplate"
        [ngTemplateOutletContext]="{ control: (schema.name | control: form) ?? form, schema: schema, model: model }">
      </ng-container>
    </ng-container>
  </form>
</ng-template>
