<ng-template let-control="control" let-schema="schema" let-model="model" [fluentContextGuard]="contextGuard">
  <ng-container *ngIf="!(schema.hidden | reactive: model:schema:control)">
    <a
      *ngIf="schema.type === 'link'"
      nz-button
      [disabled]="schema.disabled | reactive: model:schema:control"
      [fluentBinding]="{ schema, control }"
      [ngClass]="schema.class"
      [ngStyle]="schema.style"
      [nzBlock]="schema.variants?.block"
      [nzDanger]="schema.variants?.danger"
      [nzGhost]="schema.variants?.ghost"
      [nzLoading]="schema.loading | reactive: model:schema:control"
      [nzShape]="schema.variants?.shape!"
      [nzSize]="schema.size!"
      [nzType]="schema.type">
      <ng-container [ngTemplateOutlet]="buttonContentTemplate"></ng-container>
    </a>

    <button
      *ngIf="schema.type !== 'link'"
      nz-button
      [attr.type]="schema.mode"
      [disabled]="schema.disabled | reactive: model:schema:control"
      [fluentBinding]="{ schema, control }"
      [ngClass]="schema.class"
      [ngStyle]="schema.style"
      [nzBlock]="schema.variants?.block"
      [nzDanger]="schema.variants?.danger"
      [nzGhost]="schema.variants?.ghost"
      [nzLoading]="schema.loading | reactive: model:schema:control"
      [nzShape]="schema.variants?.shape!"
      [nzSize]="schema.size!"
      [nzType]="schema.type ?? null">
      <ng-container [ngTemplateOutlet]="buttonContentTemplate"></ng-container>
    </button>
  </ng-container>

  <ng-template #buttonContentTemplate>
    <span
      *ngIf="helper.icon | invoke: schema.icon as icon"
      nz-icon
      [nzRotate]="icon.rotate ?? 0"
      [nzSpin]="icon.spin"
      [nzTheme]="icon.theme ?? 'outline'"
      [nzType]="icon.type"></span>
    <ng-container *ngIf="schema.content">
      <ng-container *nzStringTemplateOutlet="schema.content">{{ schema.content }}</ng-container>
    </ng-container>
  </ng-template>
</ng-template>
