<ng-template let-control="control" let-schema="schema" let-model="model" [fluentWithContextGuard]="contextGuard">
  <ng-container *ngIf="schema.type === 'link'">
    <a
      nz-button
      *ngIf="!(schema.hidden | call: model : schema : control)"
      [disabled]="schema.disabled | call: model : schema : control"
      [fluentBinderSchema]="schema"
      [ngClass]="schema.class"
      [ngStyle]="schema.style"
      [nzBlock]="schema.block"
      [nzDanger]="schema.danger | call: model : schema : control"
      [nzGhost]="schema.ghost | call: model : schema : control"
      [nzLoading]="schema.loading | call: model : schema : control"
      [nzShape]="schema.shape!"
      [nzSize]="schema.size!"
      [nzType]="schema.type">
      <ng-container [ngTemplateOutlet]="buttonContentTemplate"></ng-container>
    </a>
  </ng-container>

  <ng-container *ngIf="schema.type !== 'link'">
    <button
      nz-button
      *ngIf="!(schema.hidden | call: model : schema : control)"
      [attr.type]="schema.mode"
      [disabled]="schema.disabled | call: model : schema : control"
      [fluentBinderSchema]="schema"
      [ngClass]="schema.class"
      [ngStyle]="schema.style"
      [nzBlock]="schema.block"
      [nzDanger]="schema.danger | call: model : schema : control"
      [nzGhost]="schema.ghost | call: model : schema : control"
      [nzLoading]="schema.loading | call: model : schema : control"
      [nzShape]="schema.shape!"
      [nzSize]="schema.size!"
      [nzType]="schema.type ?? null">
      <ng-container [ngTemplateOutlet]="buttonContentTemplate"></ng-container>
    </button>
  </ng-container>

  <ng-template #buttonContentTemplate>
    <span
      *ngIf="schema.icon"
      nz-icon
      [nzRotate]="helper.icon.rotate | invoke: schema.icon"
      [nzSpin]="helper.icon.spin | invoke: schema.icon"
      [nzTheme]="helper.icon.theme | invoke: schema.icon"
      [nzType]="helper.icon.type | invoke: schema.icon"></span>
    <ng-container *nzStringTemplateOutlet="schema.content">{{ schema.content }}</ng-container>
  </ng-template>
</ng-template>
