<ng-container *ngTemplateOutlet="formTemplate; context: { form, schema, model }"></ng-container>

<!-- 表单模板 -->
<!-- @param schema 当前图示 -->
<!-- @param form   当前表单 -->
<!-- @param model  当前模型 -->
<!-- @param class  类      -->
<!-- @param style  样式    -->
<ng-template #formTemplate let-form="form" let-schema="schema" let-model="model" let-class="class" let-style="style">
  <form
    nz-row
    nz-form
    [nzGutter]="gutter"
    [nzLayout]="layout"
    [nzNoColon]="!colon"
    [ngClass]="class"
    [ngStyle]="style"
    [fluentBinderSchema]="schema"
    [fluentBinderControl]="form">

    <!-- 表单项模板 -->
    <!-- @param schema  当前图示 -->
    <!-- @param control 当前控件 -->
    <!-- @param model   当前模型 -->
    <ng-template #formItemTemplate let-schema="schema" let-control="control" let-model="model">
      <div
        nz-col
        [nzSpan]="schema.span ?? null"
        [nzOffset]="schema.offset"
        [nzFlex]="schema.flex"
        [ngSwitch]="schema.type"
        [hidden]="schema.hidden | call: model : schema : control">
        <ng-container *ngSwitchCase="'group'">
          <nz-divider *ngIf="schema.label" [nzText]="schema.label"></nz-divider>
          <ng-container
            [ngTemplateOutlet]="formTemplate"
            [ngTemplateOutletContext]="{ form: control, schema: schema, model: model[schema.name], class: schema.class, style: schema.style }">
          </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'array'">
          <nz-divider *ngIf="schema.label" [nzText]="schema.label"></nz-divider>
          <ng-container
            [ngTemplateOutlet]="formTemplate"
            [ngTemplateOutletContext]="{ form: control, schema: schema, model: model[schema.name], class: schema.class, style: schema.style }">
          </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'steps'">
          <nz-steps
            #cmp
            [fluentBinder]="cmp"
            [fluentBinderSchema]="schema"
            [ngClass]="schema.class"
            [ngStyle]="schema.style"
            [nzType]="schema.subtype"
            [nzCurrent]="schema.active ?? 0"
            [nzLabelPlacement]="schema.placement"
            [nzProgressDot]="schema.dot"
            [nzSize]="schema.size"
            [nzStatus]="schema.status ?? 'process'"
            [nzStartIndex]="schema.start ?? 0"
            (nzIndexChange)="schema.active = $event">
            <ng-container *ngFor="let subschema of schema.schemas; index as index">
              <nz-step
                #cmp
                [fluentBinder]="cmp"
                [fluentBinderSchema]="subschema"
                [ngClass]="subschema.class"
                [ngStyle]="subschema.style"
                [nzTitle]="subschema.title"
                [nzSubtitle]="subschema.subtitle"
                [nzDescription]="subschema.description"
                [nzDisabled]="subschema.disabled | call: model : subschema : control"
                [nzStatus]="subschema.status ?? schema.active === index ? 'process' : 'wait'"></nz-step>
            </ng-container>
          </nz-steps>

          <ng-container *ngFor="let stepSchema of schema.schemas; index as stepIndex">
            <div
              nz-row
              [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
              [hidden]="schema.active !== stepIndex"
              [style.margin-top.px]="16">
              <ng-container *ngFor="let subschema of stepSchema.schemas">
                <ng-container
                  [ngTemplateOutlet]="formItemTemplate"
                  [ngTemplateOutletContext]="{ control: (subschema.name | control: form) ?? form, schema: subschema, model: model }">
                </ng-container>
              </ng-container>
            </div>
          </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'tabset'">
          <nz-tabset
            #cmp
            [fluentBinder]="cmp"
            [fluentBinderSchema]="schema"
            [ngClass]="schema.class"
            [ngStyle]="schema.style"
            [nzSelectedIndex]="schema.active"
            [nzType]="schema.subtype ?? 'line'"
            [nzSize]="schema.size ?? 'default'"
            [nzAnimated]="schema.animate ?? schema.subtype !== 'card'"
            [nzTabPosition]="schema.position ?? 'top'"
            [nzTabBarGutter]="schema.gutter"
            [nzCentered]="schema.center">
            <nz-tab
              *ngFor="let tabSchema of schema.schemas"
              #cmp
              [fluentBinder]="cmp"
              [fluentBinderSchema]="tabSchema"
              [ngClass]="tabSchema.class"
              [ngStyle]="tabSchema.style"
              [nzTitle]="tabSchema.title"
              [nzDisabled]="tabSchema.disabled | call: model : tabSchema : control">
              <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                <ng-container *ngFor="let subschema of tabSchema.schemas">
                  <ng-container
                    [ngTemplateOutlet]="formItemTemplate"
                    [ngTemplateOutletContext]="{ control: (subschema.name | control: form) ?? form, schema: subschema, model: model }">
                  </ng-container>
                </ng-container>
              </div>
            </nz-tab>
          </nz-tabset>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <nz-form-item [ngClass]="schema.class">
            <ng-container *ngIf="schema.label">
              <nz-form-label
                [nzSpan]="schema.label.span"
                [nzTooltipTitle]="schema.label.tooltip?.title ?? schema.label.tooltip"
                [nzTooltipIcon]="schema.label.tooltip?.icon"
                [nzFor]="schema.id"
                [nzRequired]="schema.required | call: model : schema : control">
                {{ schema.label.value ?? schema.label }}
              </nz-form-label>
            </ng-container>
            <!-- 在控件被 input-group 包裹的时候，控件状态/提示默认使用的是 input-group 里的第一个控件 -->
            <!-- 如果需要采用 input-group 内其他控件的状态/提示，需要使用 input-group 的 primary 参数明确指定 -->
            <nz-form-control
              *ngIf="(schema.type === 'input-group' ? (schema.primary | schema: schema.schemas) ?? {} : schema) as currentSchema"
              [nzValidateStatus]="schema.type === 'input-group' ? (schema.primary | control: control) : control"
              [nzHasFeedback]="currentSchema.feedback"
              [nzValidatingTip]="currentSchema.tips?.validating"
              [nzSuccessTip]="currentSchema.tips?.success"
              [nzWarningTip]="currentSchema.tips?.warning"
              [nzErrorTip]="currentSchema.tips?.error"
              [nzExtra]="currentSchema.tips?.extra"
              [nzAutoTips]="currentSchema.tips?.auto ?? {}">
              <fluent-control-outlet [control]="control" [schema]="schema" [model]="model" [classful]="false">
              </fluent-control-outlet>
            </nz-form-control>
          </nz-form-item>
        </ng-container>
      </div>
    </ng-template>

    <ng-container *ngFor="let subschema of schema.schemas">
      <ng-container
        [ngTemplateOutlet]="formItemTemplate"
        [ngTemplateOutletContext]="{ control: (subschema.name | control: form) ?? form, schema: subschema, model: model }">
        <!-- 当获取不到对应的控件实例时，通常说明当前的 schema 不是一个 control schema，☝️这里直接返回父级表单实例 -->
      </ng-container>
    </ng-container>
  </form>
</ng-template>
