<form
  nz-row
  nz-form
  [nzGutter]="schema.gutter ?? gutter"
  [nzAlign]="schema.align ?? align"
  [nzJustify]="schema.justify ?? justify"
  [nzLayout]="layout"
  [ngClass]="schema.class"
  [ngStyle]="schema.style"
  [formGroup]="form"
  [fluentBinding]="{ schema, control: form }"
  (submit)="$event.stopPropagation()"
  (ngSubmit)="submit.emit($event)">
  <ng-template #formColTemplate let-schema="schema" let-control="control" let-model="model">
    <nz-col
      [nzSpan]="schema.col | col: 'span'"
      [nzFlex]="schema.col | col: 'flex'"
      [nzOffset]="schema.col | col: 'offset'"
      [nzPush]="schema.col | col: 'push'"
      [nzPull]="schema.col | col: 'pull'"
      [nzOrder]="schema.col | col: 'order'"
      [hidden]="schema.hidden | reactive: model:schema:control">
      <fluent-form-col-content-outlet
        [control]="control"
        [schema]="schema"
        [model]="model"></fluent-form-col-content-outlet>
    </nz-col>
  </ng-template>

  <ng-container *ngFor="let subschema of schemas">
    <ng-container
      *ngIf="subschema.kind !== SchemaKind.Headless || (subschema.kind === SchemaKind.Headless && subschema.template)"
      [ngTemplateOutlet]="formColTemplate"
      [ngTemplateOutletContext]="{
        control: (subschema.key | control: form),
        schema: subschema,
        model: model
      }"></ng-container>
  </ng-container>
</form>
