<ng-template let-control="control" let-schema="schema" let-model="model" [fluentWithContextGuard]="contextGuard">
  <ng-container *ngIf="schema.autocomplete as autocomplete">
    <textarea
      *fluentComposable="composableTemplate"
      nz-input
      [attr.id]="schema.id"
      [attr.maxlength]="helper.length.max | invoke: schema.length"
      [attr.minlength]="helper.length.min | invoke: schema.length"
      [fluentBinderSchema]="schema"
      [fluentBinderControl]="control"
      [formControl]="control"
      [ngClass]="schema.class"
      [ngStyle]="schema.style"
      [nzAutocomplete]="autocompleteCmp"
      [nzAutosize]="schema.autosize ?? {}"
      [placeholder]="schema.placeholder ?? ''"
      [rows]="schema.rows"
      [autofocus]="schema.autofocus"
      [readonly]="schema.readonly | call: model : schema : control"
      [nzSize]="schema.size!"
      [nzBorderless]="schema.borderless"></textarea>

    <ng-template #composableTemplate>
      <textarea
        *ngIf="!(schema.hidden | call: model : schema : control)"
        nz-col
        nz-input
        [attr.id]="schema.id"
        [attr.maxlength]="helper.length.max | invoke: schema.length"
        [attr.minlength]="helper.length.min | invoke: schema.length"
        [fluentBinderSchema]="schema"
        [fluentBinderControl]="control"
        [formControl]="control"
        [ngClass]="schema.class"
        [ngStyle]="schema.style"
        [nzSpan]="helper.col.span | invoke: schema.col"
        [nzFlex]="helper.col.flex | invoke: schema.col"
        [nzOffset]="helper.col.offset | invoke: schema.col"
        [nzAutocomplete]="autocompleteCmp"
        [nzAutosize]="schema.autosize ?? {}"
        [placeholder]="schema.placeholder ?? ''"
        [rows]="schema.rows"
        [autofocus]="schema.autofocus"
        [readonly]="schema.readonly | call: model : schema : control"
        [nzSize]="schema.size!"
        [nzBorderless]="schema.borderless"></textarea>
    </ng-template>

    <nz-autocomplete
      #autocompleteCmp
      [compareWith]="helper.autocomplete.compare | invoke: autocomplete"
      [nzBackfill]="autocomplete.backfill"
      [nzDataSource]="autocomplete.options"
      [nzWidth]="autocomplete.width"></nz-autocomplete>
  </ng-container>

  <!-- 下面是没有自动完成的条件分支 -->

  <ng-container *ngIf="!schema.autocomplete">
    <textarea
      *fluentComposable="composableTemplate"
      nz-input
      [attr.id]="schema.id"
      [attr.maxlength]="helper.length.max | invoke: schema.length"
      [attr.minlength]="helper.length.min | invoke: schema.length"
      [fluentBinderSchema]="schema"
      [fluentBinderControl]="control"
      [formControl]="control"
      [ngClass]="schema.class"
      [ngStyle]="schema.style"
      [nzAutosize]="schema.autosize ?? {}"
      [placeholder]="schema.placeholder ?? ''"
      [rows]="schema.rows"
      [autofocus]="schema.autofocus"
      [readonly]="schema.readonly | call: model : schema : control"
      [nzSize]="schema.size!"
      [nzBorderless]="schema.borderless"></textarea>

    <ng-template #composableTemplate>
      <textarea
        nz-col
        nz-input
        *ngIf="!(schema.hidden | call: model : schema : control)"
        [attr.id]="schema.id"
        [attr.maxlength]="helper.length.max | invoke: schema.length"
        [attr.minlength]="helper.length.min | invoke: schema.length"
        [fluentBinderSchema]="schema"
        [fluentBinderControl]="control"
        [formControl]="control"
        [ngClass]="schema.class"
        [ngStyle]="schema.style"
        [nzSpan]="helper.col.span | invoke: schema.col"
        [nzFlex]="helper.col.flex | invoke: schema.col"
        [nzOffset]="helper.col.offset | invoke: schema.col"
        [nzAutosize]="schema.autosize ?? {}"
        [placeholder]="schema.placeholder ?? ''"
        [rows]="schema.rows"
        [autofocus]="schema.autofocus"
        [readonly]="schema.readonly | call: model : schema : control"
        [nzSize]="schema.size!"
        [nzBorderless]="schema.borderless"></textarea>
    </ng-template>
  </ng-container>
</ng-template>
