<ng-template #formColContentTemplate let-schema="schema" let-control="control" let-model="model">
  <ng-container [ngSwitch]="schema.kind">
    <ng-container
      *ngSwitchCase="'group'"
      fluentWithInjector
      [ngTemplateOutlet]="nestedFormTemplate"
      [ngTemplateOutletContext]="{ form: control, schema: schema, model: model[schema.name] }">
    </ng-container>

    <ng-container
      *ngSwitchCase="'array'"
      fluentWithInjector
      [ngTemplateOutlet]="nestedFormTemplate"
      [ngTemplateOutletContext]="{ form: control, schema: schema, model: model[schema.name] }">
    </ng-container>

    <ng-container
      *ngSwitchCase="'steps'"
      fluentWithInjector
      [ngTemplateOutlet]="schema.kind | widgetTemplateRef"
      [ngTemplateOutletContext]="{ control: control, schema: schema, model: model }">
    </ng-container>

    <ng-container
      *ngSwitchCase="'tabs'"
      fluentWithInjector
      [ngTemplateOutlet]="schema.kind | widgetTemplateRef"
      [ngTemplateOutletContext]="{ control: control, schema: schema, model: model }">
    </ng-container>

    <ng-container
      *ngSwitchDefault
      fluentWithInjector
      [ngTemplateOutlet]="formItemTemplate"
      [ngTemplateOutletContext]="{ control: control, schema: schema, model: model }">
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #nestedFormTemplate let-form="form" let-schema="schema" let-model="model">
  <nz-divider *ngIf="schema.label" [nzText]="schema.label"></nz-divider>
  <nz-row
    nz-form
    [nzGutter]="config.gutter"
    [nzLayout]="config.layout"
    [ngClass]="schema.class"
    [ngStyle]="schema.style"
    [fluentBinderSchema]="schema"
    [fluentBinderControl]="form">
    <ng-template #formColTemplate let-schema="schema" let-control="control" let-model="model">
      <nz-col
        [nzSpan]="schema.col | col: 'span'"
        [nzFlex]="schema.col | col: 'flex'"
        [nzOffset]="schema.col | col: 'offset'"
        [hidden]="schema.hidden | call: model:schema:control">
        <ng-container
          fluentWithInjector
          [ngTemplateOutlet]="formColContentTemplate"
          [ngTemplateOutletContext]="{ control: control, schema: schema, model: model }">
        </ng-container>
      </nz-col>
    </ng-template>

    <ng-container
      *ngFor="let subschema of schema.schemas"
      [ngTemplateOutlet]="formColTemplate"
      [ngTemplateOutletContext]="{ control: (subschema.name | control: form), schema: subschema, model: model }">
    </ng-container>
  </nz-row>
</ng-template>

<ng-template #formItemTemplate let-control="control" let-schema="schema" let-model="model">
  <nz-form-item [ngClass]="schema.class">
    <nz-form-label
      *ngIf="schema.label"
      [nzSpan]="schema.label.span"
      [nzTooltipTitle]="schema.label.tooltip?.title ?? schema.label.tooltip"
      [nzTooltipIcon]="schema.label.tooltip?.icon"
      [nzFor]="schema.id"
      [nzNoColon]="!config.colon"
      [nzRequired]="schema.required | call: model:schema:control">
      {{ schema.label.value ?? schema.label }}
    </nz-form-label>
    <!-- 在控件被 input-group 包裹的时候，控件状态/提示默认使用的是 input-group 里的第一个控件 -->
    <!-- 如果需要采用 input-group 内其他控件的状态/提示，需要使用 input-group 的 primary 参数明确指定 -->
    <nz-form-control
      *ngIf="
        schema.kind === 'input-group'
          ? (schema.primary ?? schema.schemas[0].name | schema: schema.schemas)
          : schema as currentSchema
      "
      [nzValidateStatus]="
        schema.kind === 'input-group' ? (schema.primary ?? schema.schemas[0].name | control: control) : control
      "
      [nzHasFeedback]="currentSchema.feedback"
      [nzValidatingTip]="currentSchema.tips?.validating"
      [nzSuccessTip]="currentSchema.tips?.success"
      [nzWarningTip]="currentSchema.tips?.warning"
      [nzErrorTip]="currentSchema.tips?.error"
      [nzExtra]="currentSchema.tips?.extra"
      [nzAutoTips]="currentSchema.tips?.auto ?? {}">
      <fluent-control-outlet [control]="control" [schema]="schema" [model]="model"></fluent-control-outlet>
    </nz-form-control>
  </nz-form-item>
</ng-template>
