<ng-template #formColContentTemplate let-schema="schema" let-control="control" let-model="model">
  <ng-container [ngSwitch]="schema.kind">
    <ng-container
      *ngSwitchCase="'group'"
      fluentWithInjector
      [ngTemplateOutlet]="'nested-form' | template"
      [ngTemplateOutletContext]="{ control: control, schema: schema, model: model[schema.name] }">
    </ng-container>

    <ng-container
      *ngSwitchCase="'array'"
      fluentWithInjector
      [ngTemplateOutlet]="'nested-form' | template"
      [ngTemplateOutletContext]="{ control: control, schema: schema, model: model[schema.name] }">
    </ng-container>

    <ng-container
      *ngSwitchCase="'steps'"
      fluentWithInjector
      [ngTemplateOutlet]="schema.kind | template"
      [ngTemplateOutletContext]="{ control, schema, model }">
    </ng-container>

    <ng-container
      *ngSwitchCase="'tabs'"
      fluentWithInjector
      [ngTemplateOutlet]="schema.kind | template"
      [ngTemplateOutletContext]="{ control, schema, model }">
    </ng-container>

    <ng-container
      *ngSwitchCase="'row'"
      fluentWithInjector
      [ngTemplateOutlet]="rowTemplate"
      [ngTemplateOutletContext]="{ control, schema, model }">
    </ng-container>

    <ng-container
      *ngSwitchDefault
      fluentWithInjector
      [ngTemplateOutlet]="formItemTemplate"
      [ngTemplateOutletContext]="{ control, schema, model }">
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #formItemTemplate let-control="control" let-schema="schema" let-model="model">
  <nz-form-item [ngClass]="schema.class">
    <nz-form-label
      *ngIf="schema.label"
      [nzSpan]="schema.label.span"
      [nzTooltipTitle]="schema.label.tooltip?.title ?? schema.label.tooltip"
      [nzTooltipIcon]="schema.label.tooltip?.icon"
      [nzFor]="schema.id"
      [nzNoColon]="!config.colon"
      [nzRequired]="schema.required | call: model:schema:control">
      {{ schema.label.value ?? schema.label }}
    </nz-form-label>
    <!-- 在控件被 input-group 包裹的时候，控件状态/提示默认使用的是 input-group 里的第一个控件 -->
    <!-- 如果需要采用 input-group 内其他控件的状态/提示，需要使用 input-group 的 primary 参数明确指定 -->
    <nz-form-control
      *ngIf="
        schema.kind === 'input-group'
          ? (schema.primary ?? schema.schemas[0].name | schema: schema.schemas)
          : schema as currentSchema
      "
      [nzValidateStatus]="
        schema.kind === 'input-group' ? (schema.primary ?? schema.schemas[0].name | control: control) : control
      "
      [nzHasFeedback]="currentSchema.feedback"
      [nzValidatingTip]="currentSchema.tips?.validating"
      [nzSuccessTip]="currentSchema.tips?.success"
      [nzWarningTip]="currentSchema.tips?.warning"
      [nzErrorTip]="currentSchema.tips?.error"
      [nzExtra]="currentSchema.tips?.extra"
      [nzAutoTips]="currentSchema.tips?.auto ?? {}">
      <ng-container
        fluentWithInjector
        [ngTemplateOutlet]="schema.kind | template"
        [ngTemplateOutletContext]="{ control, schema, model }"></ng-container>
    </nz-form-control>
  </nz-form-item>
</ng-template>

<ng-template #rowTemplate let-control="control" let-schema="schema" let-model="model">
  <nz-row
    [ngClass]="schema.class"
    [ngStyle]="schema.style"
    [nzAlign]="schema.align"
    [nzJustify]="schema.justify"
    [nzGutter]="schema.gutter ?? config.gutter"
    [hidden]="schema.hidden | call: model:schema:control">
    <ng-template #colTemplate let-schema="schema" let-control="control" let-model="model">
      <nz-col
        [nzSpan]="schema.col | col: 'span'"
        [nzFlex]="schema.col | col: 'flex'"
        [nzOffset]="schema.col | col: 'offset'"
        [nzPush]="schema.col | col: 'push'"
        [nzPull]="schema.col | col: 'pull'"
        [nzOrder]="schema.col | col: 'order'"
        [hidden]="schema.hidden | call: model:schema:control">
        <fluent-form-col-content-outlet
          [control]="control"
          [schema]="schema"
          [model]="model"></fluent-form-col-content-outlet>
      </nz-col>
    </ng-template>

    <ng-container
      *ngFor="let subschema of schema.schemas"
      [ngTemplateOutlet]="colTemplate"
      [ngTemplateOutletContext]="{ control: (subschema.name | control: control), schema: subschema, model: model }">
    </ng-container>
  </nz-row>
</ng-template>
