<ng-template #formColContentTemplate let-schema="schema" let-control="control" let-model="model">
  <ng-container [ngSwitch]="schema.kind | schemaType">
    <ng-container
      *ngSwitchCase="SchemaType.ControlContainer"
      fluentWithInjector
      [ngTemplateOutlet]="schema | widgetTemplate"
      [ngTemplateOutletContext]="{ control: control, schema: schema, model: model[schema.key] }">
    </ng-container>

    <ng-container
      *ngSwitchCase="SchemaType.ComponentContainer"
      fluentWithInjector
      [ngTemplateOutlet]="schema | widgetTemplate"
      [ngTemplateOutletContext]="{ control: control, schema: schema, model: model }">
    </ng-container>

    <ng-container
      *ngSwitchDefault
      fluentWithInjector
      [ngTemplateOutlet]="formItemTemplate"
      [ngTemplateOutletContext]="{ control, schema, model }">
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #formItemTemplate let-control="control" let-schema="schema" let-model="model">
  <nz-form-item [ngClass]="schema.class" [style.margin-bottom.px]="schema.kind === SchemaKind.Heading ? 16 : null">
    <nz-form-label
      *ngIf="schema.label"
      [nzSpan]="(helper.label.span | invoke: schema.label)!"
      [nzTooltipTitle]="helper.tooltip.content | invoke: schema.tooltip"
      [nzTooltipIcon]="(helper.tooltip.icon | invoke: schema.tooltip)!"
      [nzFor]="schema.id"
      [nzNoColon]="!config.colon"
      [nzRequired]="schema.required | reactive: model:schema:control"
      [style.width]="helper.label.width | invoke: schema.label">
      {{ helper.label.content | invoke: schema.label }}
    </nz-form-label>
    <!-- 在控件被 input-group 包裹的时候，控件状态/提示默认使用的是 input-group 里的第一个控件 -->
    <!-- 如果需要采用 input-group 内其他控件的状态/提示，需要使用 input-group 的 primary 参数明确指定 -->
    <nz-form-control
      *ngIf="
        schema.kind === SchemaKind.InputGroup
          ? (schema.primary ?? schema.schemas[0].key | schema: schema)
          : schema as currentSchema
      "
      [nzValidateStatus]="
        schema.kind === SchemaKind.InputGroup ? (schema.primary ?? schema.schemas[0].key | control: control) : control
      "
      [nzHasFeedback]="currentSchema.feedback"
      [nzValidatingTip]="currentSchema.tips?.validating | template"
      [nzSuccessTip]="currentSchema.tips?.success | template"
      [nzWarningTip]="currentSchema.tips?.warning | template"
      [nzErrorTip]="currentSchema.tips?.error | template"
      [nzAutoTips]="currentSchema.tips?.auto ?? {}"
      [nzExtra]="currentSchema.hint | template">
      <ng-container
        fluentWithInjector
        [ngTemplateOutlet]="schema | widgetTemplate"
        [ngTemplateOutletContext]="{ control, schema, model }"></ng-container>
    </nz-form-control>
  </nz-form-item>
</ng-template>
