<ng-template let-formArray="control" let-formSchema="schema" let-model="model" [fluentContextGuard]="contextGuard">
  <fluent-row
    #row
    #parentRow="fluentParentRow"
    nz-form
    cdkDropList
    [cdkDropListDisabled]="!formSchema.orderable"
    [class.cdk-drop-list-disabled]="!formSchema.orderable"
    [gap]="formSchema.gap ?? parentRow.gap"
    [align]="formSchema.align"
    [justify]="formSchema.justify"
    [nzLayout]="formSchema.layout!"
    [ngClass]="formSchema.class"
    [ngStyle]="formSchema.style"
    [fluentBinding]="{ schema: formSchema, control: formArray, model }"
    (cdkDropListDropped)="drop(formArray, $event)">
    <ng-template
      #formColTemplate
      let-schema="schema"
      let-control="control"
      let-model="model"
      let-index="index"
      let-first="first">
      <fluent-col
        *ngIf="schema.kind !== SchemaKind.Headless || (schema.kind === SchemaKind.Headless && schema.template)"
        cdkDrag
        cdkDragPreviewContainer="parent"
        [cdkDragBoundary]="row"
        [span]="schema.col | col: 'span'"
        [flex]="schema.col | col: 'flex'"
        [offset]="schema.col | col: 'offset'"
        [hidden]="schema.hidden | reactive: model : schema : control">
        <fluent-form-col-content-outlet [control]="control" [schema]="schema" [model]="model" />

        <!-- form array 的 schemas 可能会有多个，只在第一个时渲染移除按钮 -->
        <button
          *ngIf="first && (formSchema.removable ?? true)"
          class="fluent-array-element-remove-btn"
          type="button"
          nz-button
          nzShape="circle"
          nzSize="small"
          [nzDanger]="true"
          [disabled]="formArray.length <= (helper.length.min | invoke: formSchema.length)"
          (click)="formArray.removeAt(index)">
          <span nz-icon nzType="minus" nzTheme="outline"></span>
        </button>
      </fluent-col>
    </ng-template>

    <ng-container *ngFor="let control of formArray.controls; index as index">
      <ng-container
        *ngFor="let subschema of formSchema.schemas; first as first"
        [ngTemplateOutlet]="formColTemplate"
        [ngTemplateOutletContext]="{
          control: control,
          schema: withIndex(index, subschema),
          model: model[formSchema.key!],
          index: index,
          first: first
        }">
      </ng-container>
    </ng-container>

    <fluent-col span="12">
      <nz-form-item>
        <nz-form-control>
          <button
            *fluentVar="
              helper.addable | invoke: (formSchema.addable | reactive: model : formSchema : formArray) as addBtn
            "
            type="button"
            nz-button
            [nzType]="addBtn.type ?? null"
            [nzBlock]="true"
            [nzDanger]="addBtn.variants?.danger"
            [nzGhost]="addBtn.variants?.ghost"
            [nzShape]="addBtn.variants?.shape!"
            [nzSize]="addBtn.size!"
            [disabled]="addBtn.disabled || formArray.length === (helper.length.max | invoke: formSchema.length)"
            (click)="push(formArray, formSchema)">
            <span *ngIf="addBtn.icon" nz-icon nzTheme="outline" [nzType]="addBtn.icon"></span>
            <ng-template *ngIf="addBtn.content" [nzStringTemplateOutlet]="addBtn.content | template">
              {{ addBtn.content }}
            </ng-template>
          </button>
        </nz-form-control>
      </nz-form-item>
    </fluent-col>
  </fluent-row>
</ng-template>
