<ng-template let-control="control" let-schema="schema" let-model="model" [fluentContextGuard]="contextGuard">
  <ng-container *fluentInject="NzInputGroup as inputGroup; optional: true">
    <ng-container *ngIf="inputGroup; else standardTemplate">
      <nz-date-picker
        *ngIf="!(schema.hidden | reactive: model:schema:control)"
        #component
        nz-col
        [fluentBinding]="{ component, schema, control }"
        [formControl]="control"
        [ngClass]="schema.class"
        [ngStyle]="schema.style"
        [nzSpan]="schema.col | col: 'span'"
        [nzFlex]="schema.col | col: 'flex'"
        [nzOffset]="schema.col | col: 'offset'"
        [nzPush]="schema.col | col: 'push'"
        [nzPull]="schema.col | col: 'pull'"
        [nzOrder]="schema.col | col: 'order'"
        [nzAllowClear]="schema.clearable"
        [nzFormat]="schema.format!"
        [nzId]="schema.id!"
        [nzInline]="schema.inline"
        [nzMode]="schema.mode"
        [nzPlaceHolder]="schema.placeholder!"
        [nzShowTime]="schema.time"
        [nzBackdrop]="schema.backdrop!"
        [nzPlacement]="schema.placement ?? 'bottomLeft'"
        [nzSuffixIcon]="schema.suffixIcon | template: 'calendar'"
        [nzAutoFocus]="schema.autofocus"
        [nzInputReadOnly]="schema.readonly | reactive: model:schema:control"
        [nzSize]="schema.size!"
        [nzBorderless]="schema.borderless"
        [nzShowToday]="schema.today ?? true"
        [nzShowNow]="schema.now ?? true"></nz-date-picker>
    </ng-container>
  </ng-container>

  <ng-template #standardTemplate>
    <nz-date-picker
      #component
      [fluentBinding]="{ component, schema, control }"
      [formControl]="control"
      [ngClass]="schema.class"
      [ngStyle]="schema.style"
      [nzAllowClear]="schema.clearable"
      [nzFormat]="schema.format!"
      [nzId]="schema.id!"
      [nzInline]="schema.inline"
      [nzMode]="schema.mode"
      [nzPlaceHolder]="schema.placeholder!"
      [nzShowTime]="schema.time"
      [nzBackdrop]="schema.backdrop!"
      [nzPlacement]="schema.placement ?? 'bottomLeft'"
      [nzSuffixIcon]="schema.suffixIcon | template: 'calendar'"
      [nzAutoFocus]="schema.autofocus"
      [nzInputReadOnly]="schema.readonly | reactive: model:schema:control"
      [nzSize]="schema.size!"
      [nzBorderless]="schema.borderless"
      [nzShowToday]="schema.today ?? true"
      [nzShowNow]="schema.now ?? true">
    </nz-date-picker>
  </ng-template>
</ng-template>
