<ng-template let-formGroup="control" let-formSchema="schema" let-model="model" [fluentContextGuard]="contextGuard">
  <nz-divider *ngIf="formSchema.label" [nzText]="formSchema.label"></nz-divider>

  <nz-row
    #config="fluentConfig"
    nz-form
    [nzGutter]="formSchema.gutter ?? config.gutter"
    [nzAlign]="formSchema.align!"
    [nzJustify]="formSchema.justify!"
    [nzLayout]="config.layout"
    [ngClass]="formSchema.class"
    [ngStyle]="formSchema.style"
    [fluentBinding]="{ schema: formSchema, control: formGroup }">
    <ng-template #formColTemplate let-schema="schema" let-control="control" let-model="model">
      <nz-col
        [nzSpan]="schema.col | col: 'span'"
        [nzFlex]="schema.col | col: 'flex'"
        [nzOffset]="schema.col | col: 'offset'"
        [nzPush]="schema.col | col: 'push'"
        [nzPull]="schema.col | col: 'pull'"
        [nzOrder]="schema.col | col: 'order'"
        [hidden]="schema.hidden | reactive: model:schema:control">
        <fluent-form-col-content-outlet
          [control]="control"
          [schema]="schema"
          [model]="model"></fluent-form-col-content-outlet>
      </nz-col>
    </ng-template>

    <ng-container
      *ngFor="let subschema of formSchema.schemas"
      [ngTemplateOutlet]="formColTemplate"
      [ngTemplateOutletContext]="{ control: (subschema.key | control: formGroup), schema: subschema, model: model }">
    </ng-container>
  </nz-row>
</ng-template>
