<ng-template let-control="control" let-schema="schema" let-model="model" [fluentContextGuard]="contextGuard">
  <nz-steps
    #component
    [fluentBinding]="{ component, schema, control, model }"
    [ngClass]="schema.class"
    [ngStyle]="schema.style"
    [nzType]="schema.type ?? 'default'"
    [nzCurrent]="schema.active ?? 0"
    [nzLabelPlacement]="schema.placement ?? 'horizontal'"
    [nzProgressDot]="schema.dot"
    [nzSize]="schema.size ?? 'default'"
    [nzStatus]="schema.status ?? 'process'"
    [nzStartIndex]="schema.start ?? 0"
    (nzIndexChange)="schema.active = $event">
    <nz-step
      *ngFor="let subschema of schema.schemas; index as index"
      #component
      [fluentBinding]="{ component, schema, control, model }"
      [ngClass]="subschema.class"
      [ngStyle]="subschema.style"
      [nzTitle]="subschema.title | template"
      [nzSubtitle]="subschema.subtitle | template"
      [nzDescription]="subschema.description | template"
      [nzDisabled]="subschema.disabled | reactive: model : subschema : control"
      [nzStatus]="subschema.status ?? schema.active === index ? 'process' : 'wait'"
      [hidden]="subschema.hidden | reactive: model : subschema : control"></nz-step>
  </nz-steps>

  <nz-row
    *ngFor="let stepSchema of schema.schemas; index as stepIndex"
    #config="fluentConfig"
    [nzGutter]="config.gutter"
    [hidden]="schema.active !== stepIndex"
    [style.margin-top.px]="16">
    <ng-template #formColTemplate let-schema="schema" let-control="control" let-model="model">
      <nz-col
        [nzSpan]="schema.col | col: 'span'"
        [nzFlex]="schema.col | col: 'flex'"
        [nzOffset]="schema.col | col: 'offset'"
        [nzPush]="schema.col | col: 'push'"
        [nzPull]="schema.col | col: 'pull'"
        [nzOrder]="schema.col | col: 'order'"
        [hidden]="schema.hidden | reactive: model : schema : control">
        <fluent-form-col-content-outlet [control]="control" [schema]="schema" [model]="model" />
      </nz-col>
    </ng-template>

    <ng-container
      *ngFor="let subschema of stepSchema.schemas"
      [ngTemplateOutlet]="formColTemplate"
      [ngTemplateOutletContext]="{ control: (subschema.key | control: control), schema: subschema, model: model }">
    </ng-container>
  </nz-row>
</ng-template>
